<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="about-us.css">
    <title>About Us Page</title>
</head>
<body>
    <!-----------Header------------------->

    <%- include('partials/header.ejs') %>

    <!-- -------------------Living healthy section----------------- -->
    <section class="healthyimg">
        <h1>Living Healthy Matters</h1>
        <p>Our specialists aspire to bridge the gap between your benefits plan and the healthy needs.</p>
    </section>
    <!-- -------------------About us----------------------- -->
    <section class="about_us">
        <div class="texxt">
            <h3>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h3>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain fremium investor long tail agile workers prototype validation influencer market share.</p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain fremium investor long tail agile workers prototype validation influencer market share.</p>
            <p>Deployment long tail monetization strategy equity basic of team of conversion. Supply chain fremium investor long tail agile workers prototype validation influencer market share.</p>
        </div>        
        <div class="signature">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
        </div>
        <div class="about-img">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="">
        </div>
    </section>
    <!-- ----------------info--------------- -->
    <video autoplay muted loop id="myvideo">
        <source src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/video/The+New+Stamford+Hospital+TV+Commercial.mp4" type="video/mp4">
    </video>
    <section class="freecheckup">
            <div>
                <h3>Your wellness builds upon the medical daily.</h3>
                <p>Find your best self here. Discover new ways to live an aspiring life through natural beauty. nutrition and diet. an active lifestyle. and better relationships.</p>
                <button class="free_checkup lightblue_button border_button">Get a Free Checkup</button>
            </div>
            <div class="follo_features">
                <div class="follow">
                    <h5>12M</h5>
                    <p>Happy Patients</p>
                </div>
                <div class="follow">
                    <h5>5K</h5>
                    <p>Medical Assistants</p>
                </div>
                <div class="follow">
                    <h5>9.8</h5>
                    <p>Alexa Score</p>
                </div>
                <div class="follow">
                    <h5>3.2K</h5>
                    <p>Doctors Available</p>
                </div>
                <div class="follow">
                    <h5>45K</h5>
                    <p>Cure Rate</p>
                </div>
                <div class="follow follow_last">
                    <h5>75</h5>
                    <p>Health Points</p>
                </div>
            </div>
    </section>
    <!-- -------------------Join our team---------------------- -->
    <section class="section6">
        <div class="needhelp_headings">

            <h2>Join our Team</h2>
            <p>We are always looking for good and talented people.</p>
                
        </div>
        
        <div class="submit_your_enquiry_button">
            <button class="lightblue_button border_button" type="button">Submit your CV</button>
        </div>
    </section>
    <!--------------------Footer------------------->

    <%- include('partials/footer.ejs') %>

</body>
</html>