<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo Hospital</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="about-hospital.css">
</head>
<body>
    <!-----------Header------------------->

    <%- include('partials/header.ejs') %>

    <!-- ------------Doctor heading------------ -->
    <section class="backimage">
        <div>
            <h1>About John Nissan</h1>
            <p>Home / Doctor Profile</p>
        </div>
    </section>
    <!-- ---------------Hospital info---------------- -->
    <section class="hospital_info">
        <div class="hospital_box">
            <div class="img_button">
                <div class="hospital">
                    <img src="../assets/apollohospital.jpg">
                </div>
                <button class="darkblue_button call_now" type="button">Call Now</button>
            </div>
            <div class="info_hospital">
                    <div class="info_hospital__title">
                        <div class="h3_line"></div>
                        <div><h4>Apollo Hospital</h4></div>
                    </div>
                    <div class="hosptal_specification_list">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Delhi Mathura Road, Sarita Vihar, Delhi 110076
                            </li>
                            <li>
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                113 Beds
                            </li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, non illum optio voluptas tenetur laboriosam quas architecto repellat veritatis error asperiores pariatur. Nemo, velit neque. Iure possimus officia harum saepe?</p>                
                <div class="profile_list">
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <h6>Specialization</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down1" aria-hidden="true" onclick="show('list_info1','down1','up1')"></i>
                        <i class="fa fa-chevron-circle-up" id="up1" aria-hidden="true" onclick="hide('list_info1','down1','up1')"></i>
                    </div>
                    <div class="list_info" id="list_info1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <h6>Famous Treatments</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down2" aria-hidden="true" onclick="show('list_info2','down2','up2')"></i>
                        <i class="fa fa-chevron-circle-up" id="up2" aria-hidden="true" onclick="hide('list_info2','down2','up2')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                            <h6>Famous Doctors</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down3"aria-hidden="true" onclick="show('list_info3','down3','up3')"></i>
                        <i class="fa fa-chevron-circle-up" id="up3"aria-hidden="true" onclick="hide('list_info3','down3','up3')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            <h6>Infrastructure</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down4"aria-hidden="true" onclick="show('list_info4','down4','up4')"></i>
                        <i class="fa fa-chevron-circle-up" id="up4"aria-hidden="true" onclick="hide('list_info4','down4','up4')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h6>Complete Address</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down5" aria-hidden="true" onclick="show('list_info5','down5','up5')"></i>
                        <i class="fa fa-chevron-circle-up" id="up5" aria-hidden="true" onclick="hide('list_info5','down5','up5')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-h-square" aria-hidden="true"></i>
                            <h6>Hospital Packages</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down6" aria-hidden="true" onclick="show('list_info6','down6','up6')"></i>
                        <i class="fa fa-chevron-circle-up" id="up6" aria-hidden="true" onclick="hide('list_info6','down6','up6')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info6">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <h6>Hospital Charges</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down7"aria-hidden="true" onclick="show('list_info7','down7','up7')"></i>
                        <i class="fa fa-chevron-circle-up" id="up7"aria-hidden="true" onclick="hide('list_info7','down7','up7')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info7">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading last">
                        <div class="left_head">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <h6>Membership</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down8"aria-hidden="true" onclick="show('list_info8','down8','up8')"></i>
                        <i class="fa fa-chevron-circle-up" id="up8"aria-hidden="true" onclick="hide('list_info8','down8','up8')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!----------------Need help section---------------->

    <%- include('partials/help.ejs') %>
    
    <!--------------------Footer------------------->

    <%- include('partials/footer.ejs') %>

    <!-- ------------------Scriptd------------------ -->

    <script src="show_hide.js"></script>

</body>
</html>