<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="book_an_appointment.css">
    <title>Book an appointment</title>
</head>
<body>
     <!-----------Header------------------->
     <%- include('partials/header.ejs') %>
    <!-- ------------------------Book an appointment----------------------- -->
    <section class="book_appointment_form">
        <div class="shadow">
            <div class="appointment_heading">
                <h4>Book an Appointment</h4>
            </div>

            <form action="submit" class="book_an_appointment">
                <div class="appointment_date">
                    <h6>Select Appointment Date<sup>*</sup></h6>
                    <div class="appointment">
                        <input type="date" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div class="time_interval">
                    <h6>Time Interval<sup>*</sup></h6>
                    <div class="time">
                        <input type="radio" id="morning" name="time" value="morning">
                        <label for="morning">Morning</label>
                    </div>
                    <div class="time">
                        <input type="radio" id="afternoon" name="time" value="afternoon">
                        <label for="afternoon">Afternoon</label>
                    </div>
                    <div class="time">
                        <input type="radio" id="evening" name="time" value="evening">
                        <label for="evening">Evening</label>
                    </div>
                </div>
                <div class="appointment_status">
                    <h6>Appointment Status / Urgency<sup>*</sup></h6>
                    <div class="status">
                        <input type="radio" id="routine" name="status" value="routine">
                        <label for="routine">Routine Check-up</label>
                    </div>
                    <div class="status">
                        <input type="radio" id="non-urgent" name="status" value="non-urgent">
                        <label for="non-urgent">Non Urgent Check-up</label>
                    </div>
                    <div class="status">
                        <input type="radio" id="urgent" name="status" value="urgent">
                        <label for="urgent">Urgent Check-up</label>
                    </div>
                    <div class="status">
                        <input type="radio" id="surgical" name="status" value="surgical">
                        <label for="surgical">Surgical Appointment</label>
                    </div>
                </div>
                <div class="health_records">
                    <h6>Upload Previous Health Record</h6>
                    <div>
                        <input type="submit" value="Choose File">
                        <p>No File Chosen</p>
                    </div>
                </div>
                <div class="appointment_details">
                    <h6>Appointment Details</h6>
                    <textarea name="appointment" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="book_appointment-btn">
                    <div></div>
                    <button class="bookan_appointment" type="submit">Book An Appointment</button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </form>
        </div>
    </section>
    <!-- ----------------Footer------------------- -->
    <div class="foo--ter">
        <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
    </div>
</body>
</html>