<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="contactus.css">
    <title>Contact us </title>
</head>
<body>
  
     <!-----------Header------------------->
     <%- include('partials/header.ejs') %>

    <!-- -------------------contact us backimage----------------------- -->
    <section class="backimage">
        <div>
            <h1>Contact Us</h1>
            <p>Home / Contact Us</p>
        </div>
    </section>
    <!-- Contact us Map-->
    <section class="contactus">
        <div id="map"></div>
    </section>
    <!-- ----------------Section--------------- -->
    <div class="contactus_grid">
        <div class="address_list">
            <ul class="firstlist">
               <li>
                   <i class="fa fa-home"></i>
                   <div class="homelist">
                        <ul>
                            <li class="heading">Noida, India</li>
                            <li>Sector 45</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <div class="homelist">
                        <ul>
                            <li class="heading">00 (400) 9865 562</li>
                            <li>Mon to Fri from 9am to 6pm</li>
                        </ul>
                    </div>
                 </li>
                 <li>
                    <i class="fa fa-home"></i>
                    <div class="homelist">
                        <ul>
                            <li class="heading">support@tvastra.com</li>
                            <li>Send us your query anytime!</li>
                        </ul>
                    </div>
                 </li>
            </ul>
        </div>
        <div class="contact_form">
            <form action="submit" class="contactform">
                <div class="form_grid">
                        <div class="input_txt"><input type="text" placeholder="Enter your Name"></div>
                        <div class="input_txt"><input type="text" placeholder="Enter email address"></div>
                        <div class="input_txt"><input type="text" placeholder="Enter Subject"></div>
                        <div class="input_txt" id="textarea"><input type="text" class="txtarea" placeholder="Enter Message"></div>
                </div>
                <div class="send_message">
                    <button class="sendmessage" type="button">Send Message</button>
                </div>
            </form>
        </div>
    </div>

    <!-- -------------Footer------------- -->
    <%- include('partials/footer.ejs') %>
    <!-- ------------Scripts--------- -->
    <script src="mymap.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCPWMOuDecB-HGgjafmncydC4Fvmv_1g8&callback=initMap&libraries=&v=weekly"
    async
  ></script>
</body>
</html>