<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Profile</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="doctor-profile.css">
</head>
<body>
    <!-----------Header------------------->
    <%- include('partials/header.ejs') %>
    <!-- ------------Doctor heading------------ -->
    <section class="backimage">
        <div>
            <h1>About John Nissan</h1>
            <p>Home / Doctor Profile</p>
        </div>
    </section>
    <!-- ---------------Doctor info---------------- -->
    <section class="doctor_info">
        <div class="doctor_box">
            <div class="img_button">
                <div class="doc">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                </div>
                <button class="book_an_appointment" type="button">Book an appointment</button>
            </div>
            <div class="info_doc">
                <div class="info_doc__title">
                    <div class="h3_line"></div>
                    <div><h3>John Nissan</h3></div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, non illum optio voluptas tenetur laboriosam quas architecto repellat veritatis error asperiores pariatur. Nemo, velit neque. Iure possimus officia harum saepe?</p>
            </div>
        </div>
    </section>
    <!----------------Need help section---------------->

    <%- include('partials/help.ejs') %>
    
    <!--------------------Footer------------------->
    <%- include('partials/footer.ejs') %>
    
</body>
</html>