<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Profile</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="doctor-profile.css">
</head>
<body>
    <!-----------Header------------------->

    <%- include('partials/header.ejs') %>
    
    <!-- ------------Doctor heading------------ -->
    <section class="backimage">
        <div>
            <h1>About Apollo Hospital</h1>
            <p>Home / Hospital Profile</p>
        </div>
    </section>
    <!-- ---------------Doctor info---------------- -->
    <section class="doctor_info">
        <div class="doctor_box">
            <div class="img_button">
                <div class="doc">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                </div>
                <button class="darkblue_button appointment_button" type="button">Book an appointment</button>
            </div>
            <div class="info_doc">
                    <div class="info_doc__title">
                        <div class="h3_line"></div>
                        <div><h4>John Nissan</h4></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, non illum optio voluptas tenetur laboriosam quas architecto repellat veritatis error asperiores pariatur. Nemo, velit neque. Iure possimus officia harum saepe?</p>                
                <div class="profile_list">
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <h6>Specialization</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down1" aria-hidden="true" onclick="show('list_info1','down1','up1')"></i>
                        <i class="fa fa-chevron-circle-up" id="up1" aria-hidden="true" onclick="hide('list_info1','down1','up1')"></i>
                    </div>
                    <div class="list_info" id="list_info1">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <h6>List of Treatments</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down2" aria-hidden="true" onclick="show('list_info2','down2','up2')"></i>
                        <i class="fa fa-chevron-circle-up" id="up2" aria-hidden="true" onclick="hide('list_info2','down2','up2')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            <h6>Work Experience</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down3"aria-hidden="true" onclick="show('list_info3','down3','up3')"></i>
                        <i class="fa fa-chevron-circle-up" id="up3"aria-hidden="true" onclick="hide('list_info3','down3','up3')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <h6>Qualification</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down4"aria-hidden="true" onclick="show('list_info4','down4','up4')"></i>
                        <i class="fa fa-chevron-circle-up" id="up4"aria-hidden="true" onclick="hide('list_info4','down4','up4')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <h6>Awards</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down5" aria-hidden="true" onclick="show('list_info5','down5','up5')"></i>
                        <i class="fa fa-chevron-circle-up" id="up5" aria-hidden="true" onclick="hide('list_info5','down5','up5')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading">
                        <div class="left_head">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h6>Location</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down6" aria-hidden="true" onclick="show('list_info6','down6','up6')"></i>
                        <i class="fa fa-chevron-circle-up" id="up6" aria-hidden="true" onclick="hide('list_info6','down6','up6')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info6">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                    <div class="list_heading last">
                        <div class="left_head">
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            <h6>Avg Fees</h6>
                        </div>
                        <i class="fa fa-chevron-circle-down" id="down7"aria-hidden="true" onclick="show('list_info7','down7','up7')"></i>
                        <i class="fa fa-chevron-circle-up" id="up7"aria-hidden="true" onclick="hide('list_info7','down7','up7')"></i>
                    </div>
                    <div class="list_info inactive" id="list_info7">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----------------Need help section---------------->

    <%- include('partials/help.ejs') %>
    
    <!--------------------Footer------------------->

    <%- include('partials/footer.ejs') %>

    <!-- --------------------Script----------------------- -->

    <script src="show_hide.js"></script>
    
</body>
</html>