<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="faqq.css">
</head>
<body>
    <!-----------Header------------------->

    <%- include('partials/header.ejs') %>
    
    <!-- ------------FAQ heading------------ -->
    <section class="backimage">
        <div>
            <h1>FAQ</h1>
            <p>Home / FAQ</p>
        </div>
    </section>
    <!-- -------------FAQs------------ -->
    <section class="FAQ_list">
        <div class="faq_box">
            <div class="faq_list">
                <div class="list_heading">
                    <div class="left_head">
                        <h6>How do I make payments?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down1" aria-hidden="true" onclick="show('list_info1','down1','up1')"></i>
                    <i class="fa fa-chevron-circle-up" id="up1" aria-hidden="true" onclick="hide('list_info1','down1','up1')"></i>
                </div>
                <div class="list_info" id="list_info1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading">
                    <div class="left_head">
                        <h6>There is not enough money in my Portea wallet for making an appointment. What do I do?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down2" aria-hidden="true" onclick="show('list_info2','down2','up2')"></i>
                    <i class="fa fa-chevron-circle-up" id="up2" aria-hidden="true" onclick="hide('list_info2','down2','up2')"></i>
                </div>
                <div class="list_info inactive" id="list_info2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading">
                    <div class="left_head">
                        <h6>Can I transfer balance in Portea wallet balance to another user?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down3"aria-hidden="true" onclick="show('list_info3','down3','up3')"></i>
                    <i class="fa fa-chevron-circle-up" id="up3"aria-hidden="true" onclick="hide('list_info3','down3','up3')"></i>
                </div>
                <div class="list_info inactive" id="list_info3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading">
                    <div class="left_head">
                        <h6>Is Portea money same as the Portea wallet?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down4"aria-hidden="true" onclick="show('list_info4','down4','up4')"></i>
                    <i class="fa fa-chevron-circle-up" id="up4"aria-hidden="true" onclick="hide('list_info4','down4','up4')"></i>
                </div>
                <div class="list_info inactive" id="list_info4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading">
                    <div class="left_head">
                        <h6>Refund</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down5" aria-hidden="true" onclick="show('list_info5','down5','up5')"></i>
                    <i class="fa fa-chevron-circle-up" id="up5" aria-hidden="true" onclick="hide('list_info5','down5','up5')"></i>
                </div>
                <div class="list_info inactive" id="list_info5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading">
                    <div class="left_head">
                        <h6>What is a family ID?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down6" aria-hidden="true" onclick="show('list_info6','down6','up6')"></i>
                    <i class="fa fa-chevron-circle-up" id="up6" aria-hidden="true" onclick="hide('list_info6','down6','up6')"></i>
                </div>
                <div class="list_info inactive" id="list_info6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
                <div class="list_heading last">
                    <div class="left_head">
                        <h6>Who can be added as family?</h6>
                    </div>
                    <i class="fa fa-chevron-circle-down" id="down7"aria-hidden="true" onclick="show('list_info7','down7','up7')"></i>
                    <i class="fa fa-chevron-circle-up" id="up7"aria-hidden="true" onclick="hide('list_info7','down7','up7')"></i>
                </div>
                <div class="list_info inactive" id="list_info7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
                </div>
            </div>
        </div>
    </section>
    <!----------------Need help section---------------->

    <%- include('partials/help.ejs') %>

    <!--------------------Footer------------------->

    <%- include('partials/footer.ejs') %>

    <!-- ----------------Scripts------------------ -->

    <script src="show_hide.js"></script>
    
</body>
</html>