<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="forgot_password.css">
    <title>Login Page</title>
</head>
<body>
      <!-----------Header------------------->

      <%- include('partials/header.ejs') %>

    <!-------------------Secttion1---------------------->
    <section class="loginform">

        <div class="shadow">
            <div class="login_heading">
                <h5>Create New Password</h5>
            </div>
            <form action="submit" class="new_password">
                
                <div class="input1">
                    <input type="text" placeholder="Enter password">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
                <div class="input2">
                    <input type="password" placeholder="Confirm password">
                </div>
                <div class="submitbutton">
                    <div></div>
                    <button type="submit" class="darkblue_button submit_button">SUBMIT</button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>

            </form>
        </div>

    </section>

    <!-- ----------------footer---------------- -->
    <div class="foo--ter">
        <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
    </div>
    
</body>
</html>