<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/hospitals.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hospitals</title>
</head>
<body>
        
    <!-----------Header------------------->
    <header>
        <nav class="nav_bar">
            
            <a href="../html/index.html">
                <div class="header__logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="TVASTRA"></div>
            </a>
            
            <a href="#" class="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
            
            <div class="header_links">
                <a href="../html/doctor.html">Doctors</a>
                <a href="#">Hospitals</a>
                <a href="#">Treatments</a>
                <a href="#">Other Services</a>
                <a href="#">About</a>
            </div>
            
            <div class="navbar_buttons">
                <button class="transparent_button" type="button">Login / Sign Up</button>
                <button class="darkblue_button" type="button">Get a Quote</button>
            </div>
            
        </nav>
    </header>

     <!----------------------Section1-------------------->


    <section class="hospitals_section1">

        <div class="hospital-section_heading">
            <p>Home / Hospital List</p>
                <select name="dropdn" id="dropdn">
                    <option value="sortby">Sort By</option>
                    <option value="location">Location</option>
                    <option value="treatment">Treatment</option>
                    <option value="hospitals">Hospitals</option>
                    <option value="yearofexperience">Year of experience</option>
                </select>
        </div>

        <div class="hospitals_filters_grid">

            <div class="hospitals_filters">

                <div class="filter-list-heading">
                    <div class="filter-list-heading-location">Filter By</div>
                </div>

                <div class="selectedfilters">
                    <div class="selected_filters">
                        <div>DLF Cyber City  <i class="fa fa-times" aria-hidden="true"></i></div>
                        <div>Multi Organ Transplant  <i class="fa fa-times" aria-hidden="true"></i></div>
                        <div>Apollo Hospital  <i class="fa fa-times" aria-hidden="true"></i></div>
                        <div>30+  <i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>

                <div class="filter_list_heading">
                    <div class="headinng"><h6>Location</h6></div>
                    <div class="search-location-minus">
                        <i class="fa fa-search"></i>   
                        <i class="fa fa-minus"></i>
                    </div>
                </div>

                <div class="checkbox">
                    <ul>
                        <li>
                            <input type="checkbox" id="location1" name="location1" value="DLF Cyber City">
                            <label for="location1"> DLF Cyber City</label>
                        </li>
                        <li>
                            <input type="checkbox" id="location2" name="location2" value="Dwarka">
                            <label for="location2"> Dwarka</label>
                        </li>
                        <li>
                            <input type="checkbox" id="location3" name="location3" value="Lajpat Nagar">
                            <label for="location3"> Lajpat Nagar</label>
                        </li>
                        <li>
                            <input type="checkbox" id="location4" name="location4" value="Palam Vihar">
                            <label for="location4"> Palam Vihar</label>
                        </li>
                        <li>
                            <input type="checkbox" id="location5" name="location5" value="Punjabi Baag">
                            <label for="location5"> Punjabi Baag</label>
                        </li>
                        <li>
                            <input type="checkbox" id="location6" name="location6" value="Pusa Road">
                            <label for="location6"> Pusa Road</label>
                        </li>
                    </ul>
                </div>
                <div class="showmore"><p>+  Show  More</p></div>
                <div class="hor_line"></div>

                <div class="filter_list_heading">
                    <div class="headinng"><h6>Treatment</h6></div>
                    <div class="search-location-minus">
                        <i class="fa fa-search"></i>   
                        <i class="fa fa-minus"></i>
                    </div>
                </div>

                <div class="checkbox">
                    <ul>
                        <li>
                            <input type="checkbox" id="treatment1" name="treatment1" value="Multi Organ Transplant">
                            <label for="treatment1"> MultiOrgan Transplant</label>
                        </li>
                        <li>
                            <input type="checkbox" id="treatment2" name="treatment2" value="Orthopedic Surgery">
                            <label for="treatment2"> Orthopedic Surgery</label>
                        </li>
                        <li>
                            <input type="checkbox" id="treatment3" name="treatment3" value="Infertility Treatment">
                            <label for="treatment3"> Infertility Treatment</label>
                        </li>
                        <li>
                            <input type="checkbox" id="treatment4" name="treatment4" value="Dentistry">
                            <label for="treatment4"> Dentistry</label>
                        </li>
                        <li>
                            <input type="checkbox" id="treatment5" name="treatment5" value="Cardiology">
                            <label for="treatment5"> Cardiology</label>
                        </li>
                        <li>
                            <input type="checkbox" id="treatment6" name="treatment6" value="Cancer">
                            <label for="treatment6"> Cancer</label>
                        </li>
                    </ul>  
                </div>
                <div class="showmore"><p>+  Show  More</p></div>    
                
                <div class="hor_line"></div>

                <div class="filter_list_heading">
                    <div class="headinng"><h6>Hospitals</h6></div>
                    <div class="search-location-minus">
                        <i class="fa fa-search"></i>   
                        <i class="fa fa-minus"></i>
                    </div>
                </div>
                <div class="checkbox">
                    <ul>
                        <li>
                            <input type="checkbox" id="hospital1" name="hospital1" value="Apollo Hospital">
                            <label for="hospital1"> Apollo Hospital</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hospital2" name="hospital2" value="Manipal North Side Hospital">
                            <label for="hospital2"> Manipal North Side Hospital</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hospital3" name="hospital3" value="Northstar">
                            <label for="hospital3"> Northstar</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hospital4" name="hospitalt4" value="AIIMS">
                            <label for="hospital4"> AIIMS</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hospital5" name="hospital5" value="Fortis Hospital">
                            <label for="hospital5"> Fortis Hospital</label>
                        </li>
                        <li>
                            <input type="checkbox" id="hospital6" name="hospital6" value="Elbit Diagnostic">
                            <label for="hospital6"> Elbit Diagnostic</label>
                        </li>
                    </ul>      
                </div>
                <div class="showmore"><p>+  Show  More</p></div>

                <div class="hor_line"></div>

            </div>

            <div class="hospitals-grid">

                <div class="hospitals" id="box__1">
                    <div class="left_info">
                        <div class="title">
                            <div class="blue__line"></div>
                            <h5>Apollo Hospital</h5>
                        </div>
                        <ul class="list">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Delhi Mathura Road, Sarita Vihar, Delhi 110076</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>100 Beds</li>
                            <li><i class="fa fa-stethoscope" aria-hidden="true"></i>Famous Treatments</li>
                        </ul>
                        <div class="specifics">
                            <div>Multi Organ Transplant</div>
                            <div>Orthopedic Surgery</div>
                            <div>Infertility Treatment</div>
                            <div>Dentistry</div>
                            <div>Cardiology</div>
                            <div>Cancer</div>
                            <div>+40 More</div>
                        </div>
                        <button class="call_now" type="button">Call Now</button>
                    </div>
                    <div class="img_iml1">
                        <img src="../assets/apollohospital.jpg">
                    </div>
                </div>
    
                <div class="hospitals" id="box__2">
                    <div class="left_info">
                        <div class="title">
                            <div class="blue__line"></div>
                            <h5>Fortis Hospital</h5>
                        </div>
                        <ul class="list">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Delhi Mathura Road, Sarita Vihar, Delhi 110076</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>100 Beds</li>
                            <li><i class="fa fa-stethoscope" aria-hidden="true"></i>Famous Treatments</li>
                        </ul>
                        <div class="specifics">
                            <div>Multi Organ Transplant</div>
                            <div>Orthopedic Surgery</div>
                            <div>Infertility Treatment</div>
                            <div>Dentistry</div>
                            <div>Cardiology</div>
                            <div>Cancer</div>
                            <div>+40 More</div>
                        </div>
                        <button class="call_now" type="button">Call Now</button>
                    </div>
                    <div class="img_iml1">
                        <img src="../assets/fortishospital.jpg">
                    </div>
                </div>
    
                <div class="hospitals" id="box__3">
                    <div class="left_info">
                        <div class="title">
                            <div class="blue__line"></div>
                            <h5>Rockland Hospital</h5>
                        </div>
                        <ul class="list">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Delhi Mathura Road, Sarita Vihar, Delhi 110076</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>100 Beds</li>
                            <li><i class="fa fa-stethoscope" aria-hidden="true"></i>Famous Treatments</li>
                        </ul>
                        <div class="specifics">
                            <div>Multi Organ Transplant</div>
                            <div>Orthopedic Surgery</div>
                            <div>Infertility Treatment</div>
                            <div>Dentistry</div>
                            <div>Cardiology</div>
                            <div>Cancer</div>
                            <div>+40 More</div>
                        </div>
                        <button class="call_now" type="button">Call Now</button>
                    </div>
                    <div class="img_iml1">
                        <img src="../assets/rockland-hospital.jpg">
                    </div>
                </div>
    
                <div class="hospitals" id="box__4">
                    <div class="left_info">
                        <div class="title">
                            <div class="blue__line"></div>
                            <h5>Primus Super Speciality Hospital</h5>
                        </div>
                        <ul class="list">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Delhi Mathura Road, Sarita Vihar, Delhi 110076</li>
                            <li><i class="fa fa-bed" aria-hidden="true"></i>100 Beds</li>
                            <li><i class="fa fa-stethoscope" aria-hidden="true"></i>Famous Treatments</li>
                        </ul>
                        <div class="specifics">
                            <div>Multi Organ Transplant</div>
                            <div>Orthopedic Surgery</div>
                            <div>Infertility Treatment</div>
                            <div>Dentistry</div>
                            <div>Cardiology</div>
                            <div>Cancer</div>
                            <div>+40 More</div>
                        </div>
                        <button class="call_now" type="button">Call Now</button>
                    </div>
                    <div class="img_iml1">
                        <img src="../assets/primushospital.jpg">
                    </div>
                </div>

            </div>

    </section>

   <!-- ---------------Need help section---------------- -->
        
   <section class="section6">

    <div class="needhelp_headings">
        <h2>Need Help?</h2>
        <p>Just let us know, we will be happy to assist you.</p>
    </div>
        
    <div class="submit_your_enquiry_button">
        <button class="sub_your_en_but" type="button">Submit your enquiry</button>
    </div>

</section>
        
<!-- ----------------------FOOter------------------------ -->

<footer class="footer">

    <div class="footer_container">

        <div class="footer-logo_mobview">
            <img class="mobview" src="../assets/footerlogo.jpg">
        </div>

        <div class="footer-logo_tabdeskview">
            <img class="tabdeskview" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg">
        </div>

        <div class="foot-head">
            <h4>TVASTRA</h4>
        </div>

        <div class="footer_links">
            <ul>
                <li><a href="#" class="foo-ter">Doctors</a></li>
                <li><a href="#" class="foo-ter">Hospitals</a></li>
                <li><a href="#" class="foo-ter">Treatment</a></li>
                <li><a href="#" class="foo-ter">Other Services</a></li>
                <li><a href="#" class="foo-ter">FAQS</a></li>
            </ul>
        </div>

        <div class="font-awesome-icons">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>

        <div class="foot-head">
            <h4>FOLLOW US</h4>
        </div>

        <div class="socialmedia">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Pinterest</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>

        <div class="footer_text">
            <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
        </div>

    </div>
    
</footer>

<div class="footer_blueline"></div>

</body>
</html>