<!DOCTYPE html>
<html>
    <head>
        <title>TVASTRA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <%- include('partials/head.ejs') %> -->
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-----------Header------------------->
        <!-- <%- include('partials/header.ejs') %> -->
        <!-----------Header------------------->
<header>
    <nav class="nav_bar">
        
        <a href="../html/index.html">
            <div class="header__logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="TVASTRA"></div>
        </a>
        
        <a href="#" class="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        
        <div class="header_links">
            <a href="../html/doctor.html">Doctors</a>
            <a href="../html/hospitals.html">Hospitals</a>
            <a href="../html/treatment.html">Treatments</a>
            <a href="#">Other Services</a>
            <a href="#">About</a>
        </div>
        
        <div class="navbar_buttons">
            <button class="transparent_button" type="button">Login / Sign Up</button>
            <button class="darkblue_button" type="button">Get a Quote</button>
        </div>
        
    </nav>
</header>
        <!----------------Section1----------------------->
            
        <section class="section1">
                    
            <div class="section1content">
                <h1>Find Affordable Healthcare</h1>
                <p>Join the thousand of others who have exercised their rights to quality healthcare at a price you can afford.</p>
  
                
                <div class="section1_contents">
                    
                    <div class="input_field1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <input type="text" placeholder="Ahmedabad">
                        <i class="fa fa-crosshairs" aria-hidden="true"></i>
                    </div>
                    
                    <div class="input_field2">
                        <input type="text" placeholder="Search for doctors, hospitals and treatments">
                    </div>
                    
                    <button class="search_button" type="button">Search</button>
                
                </div>
            </div>

        </section>
        
        <!----------------------SEction2---------------------->
        <section class="section2">
          
            <h2>How it works</h2>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best.</p>
    
            <div class="list">
    
                <div class="item active-item">
                    <p class="count"><span class="countt">01</span> Fix Consultation</p>
                </div>

                <div class="detail-block active-block" id="fix-consultation">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Fix Consultation</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

                <div class="item">
                    <p class="count"><span class="countt">02</span> Upload Medical Reports</p>
                </div>

                <div class="detail-block" id="medical-reports">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Medical Reports</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>
            
                <div class="item">
                    <p class="count"><span class="countt">03</span> Consult with doctor</p>
                </div>

                <div class="detail-block" id="consult-with-doctor">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Consult with doctor</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

                <div class="item">
                    <p class="count"><span class="countt">04</span> Fix Surgery</p>
                </div>

                <div class="detail-block" id="fix-surgery">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Fix Surgery</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

                <div class="item">
                    <p class="count"><span class="countt">05</span> Hospital sent estimates</p>
                </div>

                <div class="detail-block" id="hospital-sent-estimates">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Hospital sent estimates</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

                <div class="item">
                    <p class="count"><span class="countt">06</span> Payment</p>
                </div>
                
                <div class="detail-block" id="payment">
                    <div class="info_image img6"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Payment</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

                <div class="item item-7">
                    <p class="count"><span>07</span> Surgery Completed</p>
                </div>
                
                <div class="detail-block" id="surgery-completed">
                    <div class="info_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"></div>
                    <div class="detail-block-info">
                        <h5>Surgery Completed</h5>
                        <p>This depicts that user will have to fix appointment first when it selects a particular doctor.</p>
                    </div>
                </div>

            </div>
        
        </section>
        
        <!---------------------Section3------------------->

        <section class="section3" >

            <h2>Word Class Expert Doctors!</h2>    
            <p>The university of Texas Southeastern Medical center has been long world-renowned research hospital. But until the 80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital, UT Southeastern is also a mecca for patients.</p>

            <div class="container" id="expert_doctors">

                    <div class="person" id="div1">
                        <div class="doctor_image firstimg"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"></div>
                        <div class="bottom">
                            <h6 class="name">Duke Sanson</h6>
                            <ul class="specifications">
                                <li>Neuro Surgeon</li>
                                <li>Chain Department of Neurological Surgery</li>
                                <li>Australia</li>
                            </ul>
                        </div>
                        <div class="blue-line"></div>
                    </div>

                    <div class="person" id="div2">
                        <div class="doctor_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"></div>
                        <div class="bottom">
                            <h6 class="name">Georgea Peter</h6>
                            <ul class="specifications">
                                <li>Breast Cancer Surgeon</li>
                                <li>Director, UT, Southwest</li>
                                <li>London</li>
                            </ul>
                        </div>
                        <div class="blue-line"></div>
                    </div>

                    <div class="person" id="div3">
                        <div class="doctor_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"></div>
                        <div class="bottom">
                            <h6 class="name">Charlie Moon</h6>
                            <ul class="specifications">
                                <li>Cardiac Surgeon</li>
                                <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                                <li>New Delhi, India</li>
                            </ul>
                        </div>
                        <div class="blue-line"></div>
                    </div>

                    <div class="person" id="div4">
                        <div class="doctor_image"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"></div>
                        <div class="bottom">
                            <h6 class="name">Rose Moon</h6>
                            <ul class="specifications">
                                <li>Plastic Surgeon</li>
                                <li>Department of Plastic and Reconstructive Surgery</li>
                                <li>Dubai</li>
                            </ul>
                        </div>
                        <div class="blue-line"></div>
                    </div>

            </div>

                <div id="circle">
                    <div class="carousel carousel1 blue_circle"></div>
                    <div class="carousel carousel2"></div>
                    <div class="carousel carousel3"></div>
                    <div class="carousel carousel4"></div>
                </div>
                

        </section>

        <!------------------Section4----------------->

        <section class="section4">

            <h2>Featured Medical Treatments</h2>

            <p>Join the thousand of others who have exercised their rights to quality healthcare at a price you can afford.</p>

                <div class="treatment-container">

                    <div class="treatment treatment1" id="treatment1">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Dentistry</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    </div>

                    <div class="treatment treatment2" id="treatment2">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Cancer</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="treatment treatment3" id="treatment3">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Cardiologic Treatment</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    </div>

                    <div class="treatment treatment4" id="treatment4">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Multi Organ Transplant</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    </div>

                    <div class="treatment treatment5" id="treatment5">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Orthopedics Surgery</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    </div>

                    <div class="treatment treatment6" id="treatment6">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg">
                        <div class="img_overlay"></div>
                        <div class="bottom-left">
                            <ul class="bot-tom">
                                <li><h4 class="bott-om">Infertility Treatment</h4></li>
                                <li>50+ Specialists</li>
                            </ul>
                        </div>
                    
                    </div>
                
                </div>

                <div id="circles">
                    <div class="carousels blue_circles" onclick="interchange('treatment2','treatment6','treatment3','treatment4','treatment1','treatment5')"></div>
                    <div class="carousels" onclick="interchange('treatment5','treatment3','treatment6','treatment1','treatment4','treatment2')"></div>
                    <div class="carousels" onclick="interchange('treatment1','treatment6','treatment2','treatment4','treatment3','treatment5')"></div>
                </div>
            
            </div>
        
        </section>

        <!----------------Section5------------------->

        <section class="section5">

            <h2>Exclusive Services</h2>
            <p>We want you to be comfortable and thus apart from treating your illness, we provide you with other services that you can see.</p>

                <div class="exclusiveservices_container">

                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png"></div>
                        <h6 class="hh">TRAVEL</h6>
                    </div>
                    
                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png"></div>
                        <h6 class="hh">FOOD</h6>
                    </div>
                    
                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png"></div>
                        <h6 class="hh">ACCOMODATION</h6>
                    </div>
                    
                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png"></div>
                        <h6 class="hh">LABS</h6>
                    </div>
                    
                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png"></div>
                        <h6 class="hh">REPORTS</h6>
                    </div>
                    
                    <div class="icons">
                        <div class="ic-ons"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png"></div>
                        <h6 class="hh">AMBULANCE</h6>
                    </div>

                </div>
            
            </div>
        
        </section>

        <!----------------Section6---------------->

        <!-- <%- include('partials/help.ejs') %> -->
<!----------------Need help section---------------->

<section class="section6">

    <div class="needhelp_headings">

        <h2>Need Help?</h2>
        <p>Just let us know, we will be happy to assist you.</p>
            
    </div>
    
    <div class="submit_your_enquiry_button">
        <button class="sub_your_en_but" type="button">Submit your enquiry</button>
    </div>

</section>
        <!------------------Section7------------------->
        <!-- <%- include('partials/footer.ejs') %> -->

        <footer class="footer">

            <div class="footer_container">
        
                <div class="footer-logo_mobview">
                    <img class="mobview" src="../assets/footerlogo.jpg">
                </div>
        
                <div class="footer-logo_tabdeskview">
                    <img class="tabdeskview" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg">
                </div>
        
                <div class="footer_links">
                    <ul>
                        <li><a href="#" class="foo-ter">Doctors</a></li>
                        <li><a href="#" class="foo-ter">Hospitals</a></li>
                        <li><a href="#" class="foo-ter">Treatment</a></li>
                        <li><a href="#" class="foo-ter">Other Services</a></li>
                        <li><a href="#" class="foo-ter">FAQS</a></li>
                    </ul>
                </div>
        
                <div class="font-awesome-icons">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
        
                <div class="footer_text">
                    <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
                </div>
        
            </div>
            
        </footer>
        
        <div class="footer_blueline"></div>
        <!-- <script type="text/javascript" src="how_it_works.js" async></script> -->
    
    </body>

</html>