<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%- include('partials/head.ejs') %> -->
    <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/commonForAllPages.css">
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Page</title>
</head>
<body>
      <!-----------Header------------------->
      <!-- <%- include('partials/header.ejs') %> -->
       <!-----------Header------------------->
<header>
    <nav class="nav_bar">
        
        <a href="../views/index.html">
            <div class="header__logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="TVASTRA"></div>
        </a>
        
        <a href="#" class="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        
        <div class="header_links">
            <a href="../views/doctor.html">Doctors</a>
            <a href="../views/hospitals.html">Hospitals</a>
            <a href="../views/treatment.html">Treatments</a>
            <a href="../views/tvastra-plus.html">Other Services</a>
            <a href="../views/about-us.html">About</a>
        </div>
        
        <div class="navbar_buttons">
            <button class="transparent_button border_button" type="button">Login / Sign Up</button>
            <button class="darkblue_button border_button" type="button">Get a Quote</button>
        </div>
        
    </nav>
</header>

    <!-------------------Secttion1---------------------->
    <section class="loginform">

        <div class="shadow">
            <div class="login_heading">
                <h5>Login</h5>
            </div>
            <form action="submit" class="login">
                
                <div class="input1">
                    <input type="tel" placeholder="Enter Mobile Number">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </div>
                <div class="input2">
                    <input type="text" placeholder="Enter OTP">
                </div>
                <div class="loginbutton">
                    <div></div>
                    <button type="submit" class="darkblue_button login_button">LOGIN</button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </form>
            <div class="login_footer">
                <p>Not Registered? <a href="signup.ejs">Sign Up</a></p>
            </div>
        </div>

    </section>

    <!-- ----------------footer---------------- -->
    <div class="foo--ter">
        <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
    </div>
</body>
</html>