<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="signup.css">
    <title>Signuppage</title>
</head>
<body>
      <!-----------Header------------------->
      <%- include('partials/header.ejs') %>

    <!-------------------Secttion1---------------------->
    <section class="signupform">

        <div class="shadow">
            <div class="signup_heading">
                <h3>Sign Up</h3>
            </div>
            <form action="submit" class="signup">
                
                <div class="input1">
                    <input type="text" placeholder="Enter Name">
                </div>
                <div class="input2">
                    <input type="email" placeholder="Enter Email">
                </div>
                <div class="input3">
                    <input type="password" placeholder="Enter Password">
                </div>
                <div class="input4">
                    <input type="text" placeholder="Enter your Gender">
                    <button type="button"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </div>
                <div class="input5">
                    <input type="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="input6">
                    <input type="tel" placeholder="Enter your Phone Number">
                </div>
                <div class="input7and8">
                    <div class="input7">
                        <input type="text" placeholder="Enter City">
                    </div>
                    <div class="input8">
                        <input type="text" placeholder="Enter State">
                    </div>
                </div>
                <div class="input9">
                    <input type="text" placeholder="Select Your Country">
                    <button type="button"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </div>
                <div class="signupbutton">
                    <div></div>
                    <button type="submit" class="signup_button">SIGN UP</button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>

            </form>
            <div class="signup_footer">
                <p>Already Registered? <a href="./login.html">Log In</a></p>
            </div>
        </div>

    </section>
    <footer class="footer">
        <p class="foo-ter">All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018</p>
    </footer>

</body>
</html>