<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="submit-your-query.css">
    <title>Submit your query</title>
</head>
<body>
     <!-----------Header------------------->
     <%- include('partials/header.ejs') %>
    
    <!-------------------Secttion1---------------------->

    <section class="submit_your_query_form">

        <form action="submit" class="submit_query__form">
            <h3>Submit your query</h3>
            <div class="hor_line"></div>
            <div class="input"><input type="text" placeholder="Enter Name"></div>
            <div class="input"><input type="tel" placeholder="Enter your Phone Number" ></div>
            <div class="input"><input type="email" placeholder="Enter Email" ></div>
            <div class="input"><textarea name="" id=""  ></textarea></div>
            <div class="submitbutton">
                <button type="submit" class="submit_button">SUBMIT</button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </form>
        <div class="footer">
            <p class="foo-ter">All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018</p>
        </div>

    </section>

</body>
</html>