<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="submit-your-query.css">
    <title>Submit your query</title>
</head>
<body>
     <!-----------Header------------------->

     <%- include('partials/header.ejs') %>

    <!-------------------Secttion1---------------------->
    <section class="submit_query_form">

        <div class="shadow">
            <div class="query_heading">
                <h5>Submit Your Query</h5>
            </div>
            <form action="submit" class="submit_query">
                
                <div class="input1">
                    <input type="text" placeholder="Enter Name">
                </div>
                <div class="input2">
                    <input type="tel" placeholder="Enter your Phone Number">
                </div>
                <div class="input3">
                    <input type="email" placeholder="Enter Email">
                </div>
                <div class="input4">
                    <textarea class="query" name="query" placeholder="Write Your Query here"></textarea>
                </div>
                <div class="submit_querybutton">
                    <div></div>
                    <button type="submit" class="darkblue_button submit_button">SUBMIT</button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>

            </form>
        </div>

    </section>
    <div class="foo--ter">
        <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
    </div>

</body>
</html>