<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/treatment.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Treatment</title>
</head>
<body>
    <!-----------Header------------------->
    <header>
        <nav class="nav_bar">
            
            <a href="../html/index.html">
                <div class="header__logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="TVASTRA"></div>
            </a>
            
            <a href="#" class="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
            
            <div class="header_links">
                <a href="../html/doctor.html">Doctors</a>
                <a href="../html/hospitals.html">Hospitals</a>
                <a href="../html/treatment.html">Treatments</a>
                <a href="">Other Services</a>
                <a href="../html/about-us.html">About</a>
            </div>
            
            <div class="navbar_buttons">
                <button class="transparent_button" type="button">Login / Sign Up</button>
                <button class="darkblue_button" type="button">Get a Quote</button>
            </div>
            
        </nav>
    </header>
    <!-- --------------BAckground image of treatment-------------- -->
    <section class="backg_img">
        <h1>Dentistry</h1>
        <p>Home / Dentistry</p>
    </section>
    <!-- ----------------Treatment section-------------------- -->
    <section class="dentistry">
        <div class="vaccination">
            <h1>Vaccination</h1>
            <div class="img_info">
                <div>
                    <div class="vaccination">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg">
                    </div>
                </div>
                <div class="dentistry_department">
                    <h5>About Dentist Department</h5>
                    <p>The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwise prove fatal for both the dentists and their patients.</p>
                    <ul class="den_dep">
                        <li><div class="circle"></div>CF-related diabetes (monthly)</li>
                        <li><div class="circle"></div>Gastrointestinal (monthly)</li>
                        <li><div class="circle"></div>CF-related liver disease (monthly)</li>
                        <li><div class="circle"></div>Sweat testing (three times per month)</li>
                    <ul>
                </div>
            </div>
        </div>
        <div class="types">
            <div class="type">
                    <i class="fa fa-stethoscope"></i>
                    <h5>Central Nervous System</h5>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
            </div>
            <div class="type">
                    <i class="fa fa-medkit"></i>
                    <h5>Allergic Disorders</h5>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
            </div>
            <div class="type">
                    <i class="fa fa-heartbeat"></i>
                    <h5>Neoplastic Disorders</h5>
                    <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p>
            </div>
        </div>
        <div class="service_details">
            <div class="service">
                <h5>Service Details</h5>
                <div class="ser_detail">
                    <p>Price</p>
                    <p class="span">from $340</p>
                </div>
                <div class="ser_detail">
                    <p>Duration</p>
                    <p class="span">10 Minutes</p>
                </div>
                <div class="ser_detail">
                    <p>Office</p>
                    <p class="span">#46</p>
                </div>
                <div class="ser_detail">
                    <p>Doctor</p>
                    <p class="span">Dr. Elizabeth Beard</p>
                </div>
                <div class="ser_detail">
                    <p>Categories</p>
                    <p class="span">Family Medicine</p>
                </div>
            </div>
            <div class="schedule">
                <h5>Schedule</h5>
                <div class="sch_detail">
                    <p>Tuesday</p>
                    <p class="span">10:00am - 1:00pm</p>
                </div>
                <div class="sch_detail">
                    <p>Friday</p>
                    <p class="span">07:00am - 10:00pm</p>
                </div>
            </div>
        </div>
    </section>
    <!-- -----------------More services------------------- -->
    <section class="more_services">
        <div class="services_heading">
            <h2>More Services</h2>
            <div class="arrows">
                <div class="leftarrow">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="rightarrow">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
            <div class="more_services_types">
                <div class="service_type">
                    <div class="service_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                    </div>
                    <div class="service_foot">
                        <h5>Orthopedic Surgery</h5>
                    </div>
                </div>
                <div class="service_type">
                    <div class="service_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                    </div>
                    <div class="service_foot">
                        <h5>Cancer</h5>
                    </div>
                </div>
                <div class="service_type">
                    <div class="service_img">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                    </div>
                    <div class="service_foot">
                        <h5>Cardiology</h5>
                    </div>
                </div>
            </div>
    </section>
    <!-- --------------------Footer------------------- -->
    <footer class="footer">

        <div class="footer_container">

            <div class="footer-logo_mobview">
                <img class="mobview" src="../assets/footerlogo.jpg">
            </div>

            <div class="footer-logo_tabdeskview">
                <img class="tabdeskview" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg">
            </div>

            <div class="footer_links">
                <ul>
                    <li><a href="#" class="foo-ter">Doctor</a></li>
                    <li><a href="#" class="foo-ter">Hospital</a></li>
                    <li><a href="#" class="foo-ter">Treatment</a></li>
                    <li><a href="#" class="foo-ter">OtherServices</a></li>
                    <li><a href="#" class="foo-ter">FAQS</a></li>
                </ul>
            </div>

            <div class="font-awesome-icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>

            <div class="footer_text">
                <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
            </div>

        </div>
        
</footer>

<div class="footer_blueline"></div>
</body>
</html>