<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVASTRA PLUS</title>
    <!-- <%- include('partials/head.ejs') %> -->
    <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/tvastra-plus.css">
</head>
<body>
    <!-----------Header------------------->
    <!-- <%- include('partials/header.ejs') %> -->
    <!-----------Header------------------->
    <header>
        <nav class="nav_bar">
            
            <a href="../html/index.html">
                <div class="header__logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="TVASTRA"></div>
            </a>
            
            <a href="#" class="menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
            
            <div class="header_links">
                <a href="../html/doctor.html">Doctors</a>
                <a href="../html/hospitals.html">Hospitals</a>
                <a href="../html/treatment.html">Treatments</a>
                <a href="#">Other Services</a>
                <a href="#">About</a>
            </div>
            
            <div class="navbar_buttons">
                <button class="transparent_button" type="button">Login / Sign Up</button>
                <button class="darkblue_button" type="button">Get a Quote</button>
            </div>
            
        </nav>
    </header>
    <!-- -----------------------Heading section--------------------------- -->
    <section class="backgr_image">
        <div class="plus">PLUS</div>
        <h4>Healthcare plans for you and your family.</h4>
        <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses.</p>
    </section>
    <!-- ------------------Gradient section---------------- -->
    <section class="gradient">
        <div class="tvastra_plans">
            <div class="plans_heading">
                <h5>Select a Tvastra Plus healthcare Plan</h5>
                <p>All Plus plans are for 4 adults and 2 children.</p>
            </div>
            <div class="plans">
                <div class="plan">
                    <div>
                        <div class="plan_head">
                            <h6>Basic Plan</h6>
                        </div>
                        <div class="plan_list">
                            <p>Unlimited Consultation with any speciality</p>
                            <p>20% off on prescription medicines</p>
                            <p>20% off on tests & checkups</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h5><i class="fa fa-inr" aria-hidden="true"></i>2,999<sub>/year</sub></h5>
                        <p class="plan_details">View Plan Details</p>
                        <button class="plus">Buy Plan</button>
                    </div>
                </div>
                <div class="plan advanced_plan">
                    <div class="popular">Popular</div>
                    <div>
                        <div class="plan_head">
                            <h6>Advanced Plan</h6>
                        </div>
                            <p>Unlimited Consultation with any speciality</p>
                            <p>20% off on prescription medicines</p>
                            <p>20% off on tests & checkups</p>
                            <p>10 Free In-clinic consultations</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h5><i class="fa fa-inr" aria-hidden="true"></i>3,999<sub>/year</sub></h5>
                        <p class="plan_details">View Plan Details</p>
                        <button class="plus">Buy Plan</button>
                    </div>
                </div>
                <div class="plan">
                    <div>
                        <div class="plan_head">
                            <h6>Comprehensive Plan</h6>
                        </div>
                        <div class="plan_list">
                            <p>Unlimited Consultation with any speciality</p>
                            <p>20% off on prescription medicines</p>
                            <p>20% off on tests & checkups</p>
                            <p>10 Free In-clinic consultations</p>
                            <p>2 Master health checkups</p>
                        </div>
                    </div>
                    <div class="foot">
                        <h5><i class="fa fa-inr" aria-hidden="true"></i>5,999<sub>/year</sub></h5>
                        <p class="plan_details">View Plan Details</p>
                        <button class="plus">Buy Plan</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------- -->
    <section class="bars">
        <div class="bars_head">
            <h5>Trusted by 2 Crore+ users every month</h5>
            <p>Tvastra is the leading healthcare technology company in India. We began in 2009 and today we help 2 crore customers every month.</p>
        </div>        
        <div class="reviews">
            <div class="review">
                <h2>4.5</h2>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>1000+ Reviews</p>
            </div>
            <div class="review_bars">
                <div class="bar_contain">
                    <p>5</p>
                    <div class="bar">
                        <div class="bar_5"></div>
                    </div>
                </div>
                <div class="bar_contain">
                    <p>4</p>
                    <div class="bar">
                        <div class="bar_4"></div>
                    </div>
                </div>
                <div class="bar_contain">
                    <p>3</p>
                    <div class="bar">
                        <div class="bar_3"></div>
                    </div>
                </div>
                <div class="bar_contain">
                    <p>2</p>
                    <div class="bar">
                        <div class="bar_2"></div>
                    </div>
                </div>
                <div class="bar_contain">
                    <p>1</p>
                    <div class="bar">
                        <div class="bar_1"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blocks">
            <div class="block">
                <h3><i class="fa fa-users" aria-hidden="true"></i></h3>
                <h6>2 Crore+</h6>
                <p>Monthly Customers</p>
            </div>
            <div class="block">
                <h3><i class="fa fa-user-md" aria-hidden="true"></i></h3>
                <h6>100,000+</h6>
                <p>Verified Doctors</p>
            </div>
            <div class="block">
                <h3><i class="fas fa-pills"></i></h3>
                <h6>10 Lakh+</h6>
                <p>Medicine Orders Delivered</p>
            </div>
            <div class="block">
                <h3><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></h3>
                <h6>5 Crore+</h6>
                <p>Doctor Appointements</p>
            </div>
        </div>

        <div class="benefit_heading">
            <p class="membership">Benefits of Plus Membership</p>
            <div class="border_line"></div>
            <div class="benefit benefit1">
                <div class="benefit_head">
                    <h5>Zero fees for in-clinic consultation</h5>
                    <div class="benefit_list">
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Consult with 3000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs. 0 consultation fees <sup>*</sup></p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Upto 10 in-clinic consultations can be used by any family memeber over 12 month period.</p>
                        </div>
                    </div>
                </div>
                <div class="benefit_imgg">
                    <h6>Top Hospitals onboarded</h6>
                    <div class="benefit_grid">
                        <div class="sakra imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt="sakra">
                        </div>
                        <div class="psri imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt="psri">
                        </div>
                        <div class="artemis imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt="artemis">
                        </div>
                        <div class="people_tree imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt="people tree hospital">
                        </div>
                        <div class="birla imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt="ck birla hospital">
                        </div>
                        <div class="pratiksha imgs">
                            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt="pratiksha">
                        </div>
                    </div>
                    <p class="more_hospitals">+ More Hospitals</p>
                </div>
            </div>

            <div class="benefit benefit2">
                <div class="benefit_head">
                    <h5>Unlimited online consultations with top doctors</h5>
                    <div class="benefit_list">
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Get all your health queries answered from any specialist online, any time of the day</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Connect under 2 minutes on text, call, or video- available 24 hours * 7 days a week</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>All online consultations are confidential. Only patient and doctor can access the chats</p>
                        </div>
                    </div>
                </div>
                <img class="benefit__img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
            </div>

            <div class="benefit benefit3">
                <div class="benefit_head">
                    <h5>Flat 20% Off on prescription medicines, lab tests and checkups</h5>
                    <div class="benefit_list">
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Save money one medicines and lab tests for your entire family</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Get flat 20% off onmedicines that require prescriptions and flat 20% off on health checkups and lab test</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>No questions asked. No minimum order values, no limits, available in 100+ cities across India</p>
                        </div>
                    </div>
                </div>
                <img class="benefit__img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
              </div>

            <div class="benefit benefit4">
                <div class="benefit_head">
                    <h5>2 Free health checkups</h5>
                    <div class="benefit_list">
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Discuss your test results with doctors through online consultations. Receive e-report within 48 hours</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Home sample pickup</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Tabs are NABL, CAP accrediated</p>
                        </div>
                        <div>
                            <i class="fas fa-check-circle"></i>
                            <p>Checkups can be booked anytime, even weekends. Tax deductible under 80D</p>
                        </div>
                    </div>
                </div>
                <img class="benefit__img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
            </div>

        <p class="tests_included">60 Tests Included</p>
        </div>

        <div class="deficiency_profiles">
            <div class="profile show">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="vitamin profile">
                </div>
                <h6>Vitamin Profile</h6>
                <p>2 Tests</p>
            </div>
            <div class="profile show">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt="thyroid profile">
                </div>
                <h6>Thyroid Profile</h6>
                <p>3 Tests</p>
            </div>
            <div class="profile show">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt="iron deficiency profile">
                </div>
                <h6>Iron Deficiency Profile</h6>
                <p>2 Tests</p>
            </div>
            <div class="profile show">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt="liver profile">
                </div>
                <h6>Liver Profile</h6>
                <p>11 Tests</p>
            </div>
            <div class="profile hidden">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Lipid.svg" alt="lipid profile">
                </div>
                <h6>Lipid Profile</h6>
                <p>2 Tests</p>
            </div>
            <div class="profile hidden">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Blood+elemetns.svg" alt="blood elements">
                </div>
                <h6>Blood Elemenst</h6>
                <p>3 Tests</p>
            </div>
            <div class="profile hidden">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/General_1.svg" alt="general defiiciency">
                </div>
                <h6>General Deficicency</h6>
                <p>5 Tests</p>
            </div>
            <div class="profile hidden">
                <div class="profile_img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/HbA1c.svg" alt="hba1">
                </div>
                <h6>HbA1 Profile</h6>
                <p>6 Tests</p>
            </div>
        </div>

        <div class="carou">
            <div class="carouses first active"></div>
            <div class="carouses second"></div>
        </div>
    </section>

<!-- -----------------------why we love tvastra-------------------------- -->

    <section class="tvastra">
        <div class="tvastra_head">
            <h5>Why we love Tvastra</h5>
            <div class="plus">PLUS</div>
        </div>
        <div class="users">
            <div class="user">
                <p>"Wonderful experience with Tvatsra plus it helped me in saving a lot of amount as it provides free consultations with best doctors."</p>
                <div class="user_detail">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    <div class="name_plan">
                        <h6>Rishabh Tiwari</h6>
                        <div class="used_plan">
                            Advanced Plan User
                        </div>
                    </div>
                </div>
            </div>
            <div class="user">
                <p>"Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my Vitamin defificency where family doctor feature helped me with medicine."</p>
                <div class="user_detail">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    <div class="name_plan">
                        <h6>Mini Agarwal</h6>
                        <div class="used_plan">
                            Comprehensive Plan User
                        </div>
                    </div>
                </div>
            </div>
            <div class="user last">
                <p>"24*7 access to doctors in just 60 seconds with 2 kids. One of them is bound to fall sick. Comes in super handy."</p>
                <div class="user_detail">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="">
                    <div class="name_plan">
                        <h6>Prachi Gupta</h6>
                        <div class="used_plan">
                            Comprehensive Plan User
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- -----------------------Frequently Asked Questions----------------------------- -->
    <section class="faqq">
        <h5>Frequently Asked Questions</h5>
        <div class="faq_list">
            <div class="list_heading">
                <div class="left_head">
                    <p>How does free in-clinic consultation with doctor and hospital works?</p>
                </div>
                <i class="fa fa-chevron-circle-down" id="down1" aria-hidden="true" onclick="show('list_info1','down1','up1')"></i>
                <i class="fa fa-chevron-circle-up" id="up1" aria-hidden="true" onclick="hide('list_info1','down1','up1')"></i>
            </div>
            <div class="list_info" id="list_info1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
            </div>
            <div class="list_heading">
                <div class="left_head">
                    <p>Are there any type of doctors not available in Tvastra-plus in-clinic consultation network?</p>
                </div>
                <i class="fa fa-chevron-circle-down" id="down2" aria-hidden="true" onclick="show('list_info2','down2','up2')"></i>
                <i class="fa fa-chevron-circle-up" id="up2" aria-hidden="true" onclick="hide('list_info2','down2','up2')"></i>
            </div>
            <div class="list_info inactive" id="list_info2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
            </div>
            <div class="list_heading">
                <div class="left_head">
                    <p>How do the unlimited online consultation work?</p>
                </div>
                <i class="fa fa-chevron-circle-down" id="down3" aria-hidden="true" onclick="show('list_info3','down3','up3')"></i>
                <i class="fa fa-chevron-circle-up" id="up3" aria-hidden="true" onclick="hide('list_info3','down3','up3')"></i>
            </div>
            <div class="list_info inactive" id="list_info3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
            </div>
            <div class="list_heading">
                <div class="left_head">
                    <p>How does flat 20% off on medicines work?</p>
                </div>
                <i class="fa fa-chevron-circle-down" id="down4" aria-hidden="true" onclick="show('list_info4','down4','up4')"></i>
                <i class="fa fa-chevron-circle-up" id="up4" aria-hidden="true" onclick="hide('list_info4','down4','up4')"></i>
            </div>
            <div class="list_info inactive" id="list_info4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
            </div>
            <div class="list_heading">
                <div class="left_head">
                    <p>How does 20% off on lab tests work?</p>
                </div>
                <i class="fa fa-chevron-circle-down" id="down5" aria-hidden="true" onclick="show('list_info5','down5','up5')"></i>
                <i class="fa fa-chevron-circle-up" id="up5" aria-hidden="true" onclick="hide('list_info5','down5','up5')"></i>
            </div>
            <div class="list_info inactive" id="list_info5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor iste ad, veritatis, sed, ex ea provident nesciunt nulla sapiente repellat. Dignissimos quibusdam ullam eaque illum molestias reprehenderit sed necessitatibus.</p>                    
            </div>
        </div>
    </section>

    <!-- --------------------Footer------------------- -->
    <!-- <%- include('partials/footer.ejs') %> -->

    <footer class="footer">

        <div class="footer_container">
    
            <div class="footer-logo_mobview">
                <img class="mobview" src="../assets/footerlogo.jpg">
            </div>
    
            <div class="footer-logo_tabdeskview">
                <img class="tabdeskview" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg">
            </div>
    
            <div class="footer_links">
                <ul>
                    <li><a href="#" class="foo-ter">Doctors</a></li>
                    <li><a href="#" class="foo-ter">Hospitals</a></li>
                    <li><a href="#" class="foo-ter">Treatment</a></li>
                    <li><a href="#" class="foo-ter">Other Services</a></li>
                    <li><a href="#" class="foo-ter">FAQS</a></li>
                </ul>
            </div>
    
            <div class="font-awesome-icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
    
            <div class="footer_text">
                <p class="foo-ter">All Rights Reserved. &copy; tvastra 2018</p>
            </div>
    
        </div>
        
    </footer>
    
    <div class="footer_blueline"></div>


    <script src="https://kit.fontawesome.com/025b2429c4.js" crossorigin="anonymous"></script>
    <script src="../javascript/tvastra_plus_carousel.js"></script>
    <script src="../javascript/show_hide.js"></script>

</body>
</html>