<section class="section6">

    <div class="needhelp_headings">

        <h2>Need Help?</h2>
        <p>Just let us know, we will be happy to assist you.</p>
            
    </div>
    
    <div class="submit_your_enquiry_button">
        <button class="lightblue_button border_button" type="button">Submit your enquiry</button>
    </div>

</section>