
/* -------------Book an appointment form---------------- */
.book_appointment_form {
    background-color: var(--lightblue-color);
}
.appointment_heading {
    background-color: var(--white-color);
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--bordergray-color);
}
.book_an_appointment {
    padding: 1rem;
    background-color: var(--white-color);
}
.appointment_heading h4 {
    margin-bottom: 0;
    font-family: var(--ff-bold);
    color: var(--doctors-color);
    text-align: center;
}
.book_an_appointment h6 {
    text-align: left;
}
.appointment {
    border: 2px solid var(--bordergray-color);
    margin-bottom: 1rem;
}
.time_interval {
    margin-bottom: 1rem;
}
.time input, .status input {
    margin: 0 1rem 0 0;
}
.time, .status {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.appointment_status {
    margin-bottom: 1rem;
}
.health_records p {
    margin: 0 0 0 1rem;
}
.health_records div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.8rem;
}
.health_records {
    margin-bottom: 1rem;
}
.appointment_details textarea {
    border: 2px solid var(--darkblue-color);
    margin-bottom: 1rem;
}
.book_appointment-btn {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: var(--darkblue-color);
    margin-left: auto;
    margin-right: auto;
}
.bookan_appointment {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    font-size: 0.9rem;
}
.fa-arrow-right {
    color: var(--white-color);
    font-size: 0.9rem;
}
.foo--ter {
    background-color: var(--lightblue-color);
    padding: 1rem;
}
.foo--ter p {
    margin-bottom: 0;
}
.foo-ter {
    font-size: 0.8rem;
    font-family: 'nexa-bold';
}
/*-----------------Tablet View---------------------*/
@media only screen and (min-device-width:768px) {
    .foo--ter {
        margin-top: -1px;
    }
    .book_appointment_form {
        padding: 6rem 5rem;
    }
    .book_an_appointment {
        padding: 2rem;
    }
}


/*-----------------Desktop View---------------------*/
@media only screen and (min-device-width:1024px) { 
    .book_appointment_form {
        padding: 10rem 20rem;
    }
    .foo--ter p {
        text-align: center;
        font-size: 1rem;
    }
}
