
.backimage {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 35vh; */
    padding: 5rem;
}
.backimage h1, .backimage p {
    color: var(--white-color);
}
/* ----------------Contact us----------------- */
#map {
    width: 100%;
    height: 35vh;
}
.address_list {
    margin-left: 1.5rem;
}
.address_list ul li {
    display: flex;
    margin-bottom: 0.4rem;
}
.address_list .fa {
    font-size: 20px;
    color: var(--vibblue-color);
    margin-right: 20px;
}
.homelist .heading {
    color: var(--darkblue-color);
    font-size: 1rem;
    font-family: 'nexa-bold';
}
.homelist ul li {
    font-size: 0.8rem;
}
.contact_form {
    background-color: var(--lightblue-color);
    padding: 1rem;
}
form {
    margin: 0 auto;
    background-color: var(--lightblue-color);
}
.input_txt {
    border: 1px solid var(--bordergray-color);
    margin-bottom: 0.6rem;
}
.sendmessage {
    background-color: var(--vibblue-color);
    color: var(--white-color);
    padding: 0.6rem 0.8rem;
}
.send_message {
    display: flex;
    justify-content: flex-end;
}
.line {
    width: 100%;
    background-color: var(--bordergray-color);
    height: 2px;
    margin-top: 2rem;
}
/* --------------Tablet view-------------- */
@media only screen and (min-device-width:768px) {
    /* ---------------contact us--------------- */
    /* .address_list {
        width: 90%;
    } */
    .address_list .firstlist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* .address_list {
        margin-left: 5rem;
    } */
    .contactform {
        padding: 1rem;
    }
    .form_grid {
        display: grid;
        grid-template: 
        "1st area"
        "2nd area"
        "3rd area";
        column-gap: 20px;
    }
    #textarea {
        grid-area: area;
    }
    .input_txt .txtarea {
        padding-top: 4.1rem;
        padding-bottom: 4.1rem;
    }
}


/* ------------------Desktop view------------------ */
@media only screen and (min-device-width:1024px) {
    /* --------contact us grid------ */
    .address_list .firstlist {
        display: flex;
        flex-direction: column;
    }
    .address_list {
        margin-left: 0;
    }
    .firstlist li i {
        margin-top: 0.3rem;
    }
    .contactus_grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}






