
/* -------------Doctor heading--------------- */
.backimage {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem;
}
.backimage h1, .backimage p {
    color: var(--white-color);
}
/* --------------Doctor info--------------- */
.doctor_box {
    border: 0.063rem solid var(--bordergray-color);
    padding: 0.6rem;
}
.info_doc h4 {
    color: var(--vibblue-color);
    margin-bottom: 0;
    font-family: var(--ff-bold);
}
.h3_line {
    background-color: var(--vibblue-color);
    width: 3rem;
    height: 0.15rem;
    margin-right: 0.3rem;
}
.info_doc__title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    transform: translateX(-0.6rem);
}
/* -------------Book an appointment button------------ */
.appointment_button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.7rem;
    width: 100%;
} 
/* ----------------Profile list---------------- */
.left_head h6 {
    margin-bottom: 0;
    color: var(--vibblue-color);
    margin-left: 1rem;
}
.left_head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_heading i {
    color: var(--vibblue-color);
}
.list_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.063rem dashed var(--bordergray-color);
    padding: 0.625rem 0;
}
.last {
    border-bottom: 0.063rem dashed var(--bordergray-color);
}
.list_info {
    border-top: 0.063rem dashed var(--bordergray-color);
    padding: 0.625rem;
    background-color: rgb(229,241,247);
}
.list_info p {
    text-align: left;
    margin-bottom: 0;
}
.fa-chevron-circle-up {
    display: none;
}
.inactive {
    display: none;
}
#down1 {
    display: none;
}
#up1 {
    display: block;
}
/*-----------------Tablet View---------------------*/
@media only screen and (min-device-width:768px) {
    .doctor_box {
        display: grid;
        grid-template-columns: 60% 38%;
        padding: 2rem;
        column-gap: 20px;
    }
    .img_button {
        grid-area: 1/2/ span 1/ span 1;
    }
    .info_doc__title {
        transform: translateX(-2rem);
    }
    .info_doc  p {
        text-align: left;
    }
    .list_heading {
        padding: 20px 0;
    }
    .list_info {
        padding: 20px;
    }
    .h3_line {
        width: 1.6rem;
    }
}

/*-------------------Desktop view---------------*/
@media only screen and (min-device-width:1024px) {
    .backimage {
        padding: 5rem;
    }
    .doctor_box {
        grid-template-columns: 72% 26%;
    }
}