
/* -------------Doctor heading--------------- */
.backimage {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    padding: 5rem;
}
.backimage h1, .backimage p {
    color: var(--white-color);
}
/* --------------Doctor info--------------- */
.doctor_box {
    border: 1px solid var(--bordergray-color);
    padding: 0.6rem;
}
.info_doc h3 {
    color: var(--doctors-color);
    margin-bottom: 0;
}
.h3_line {
    background-color: var(--doctors-color);
    width: 3rem;
    height: 3px;
}
.info_doc__title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    transform: translateX(-0.6rem);
}
/* -------------Book an appointment button------------ */
.book_an_appointment {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0.7rem;
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 0.7rem 2rem;
    border: none;
    width: 100%;
} 

/*-----------------Tablet View---------------------*/
@media only screen and (min-device-width:768px) {
}

/*-------------------Desktop view---------------*/
@media only screen and (min-device-width:1024px) {
}