
/* ---------Cardiac surgeon---------- */
.cardiac_surgeons {
    display: none;
}
.cardiac_surgeons span {
    text-decoration: underline;
}
/* -------------Doctors section----------------- */
    /* ------------------heading for doctor section---------------- */
    select {
        background: var(--bordergray-color);
        padding: 0.4rem 0.625rem;
        width: 6.25rem;
        border: none;
    }
    .doctor-section_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .doctor-section_heading p {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
    /* --------------------Hiding filter section for mobile view---------------------- */
    .doctors_filters {
        display: none;
    }
    /* -----------Top margin for doctor section------------ */
    .doctors_filters_grid {
        margin-top: 1.875rem;
    }
/* -------------------------filter section stylings-------------------------------- */


    /* --------------Selected filter styles---------------- */
    .selected_filters {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .selected_filters div {
        border: 0.063rem solid var(--bordergray-color);
        border-radius: 0.75rem;
        font-size: 0.9rem;
        padding: 0.375rem;
        width: max-content;
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
    }
    .selectedfilters {
        display: none;
    }
        /* ---------Icon colors----------- */
        .fa-times, .fa-search {
            color: var(--vibblue-color);
        }
        .fa-minus {
            color: var(--gray-color);
        } 
/* ----------------Headings for all filters------------------ */
.filter_list_heading h6 {
    margin-bottom: 0;
}
.filter_list_heading .headinng {
    font-weight: bold;
    font-family: var(--ff-light);
}

/* -------------------------doctor boxes--------------------------------- */
    /* --------------Box sizes-------------- */
    .doctors {
        width: 100%;
        border: 0.063rem solid var(--bordergray-color);
        padding-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    /* -----------------Title of the boxes-------------------------- */
    .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .title h6 {
        color: var(--doctors-color);
        margin: 0;
    }
    .blue__line {
        width: 2rem;
        height: 0.125rem;
        background-color: var(--doctors-color);
    }
    /* ----------------List items---------------- */
    .list {
        margin-left: 0.625rem;
        margin-top: 0.625rem;
        margin-bottom: 1rem;
    }
    .img_iml1 {
        height: 22.813rem;
    }
    .list li {
        display: flex;
        margin-bottom: 0.313rem;
        justify-content: flex-start;
        align-items: center;
    }
    .list .fa {
        color: var(--doctors-color);
        font-size: 1rem;
        margin-right: 0.625rem;
    }

/* -------------Book an appointment button------------ */
.appointment_button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
}

/* --------------Tablet view-------------- */
@media only screen and (min-device-width:768px) {
    /* -------------------Cardiac Surgeons------------------- */
    .cardiac_surgeons {
        background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png");
        box-shadow: inset 0 0 0 1000px rgba(154, 193, 226, 0.8);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 5rem 1.8rem;
    }
    .cardiac_surgeons p {
        color: var(--darkblue-color);
        font-family: 'nexa-light';
        font-size: 1.6rem;
        text-align: left;
        font-weight: bold;
    }
    .cardiac_surgeons span {
        text-decoration: underline;
        font-size: 1.6rem;
        font-family: 'nexa-bold';
    }

    /* -------------Doctors section--------------- */
        /* ------------Grid------------ */
        .doctors_filters {
            display: block;
        }
        .doctors_filters_grid {
            display: grid;
            grid-template-columns: 23% 75%;
            column-gap: 1.25rem;
        }


    /* -----------------Filter list----------------- */
    .filter-list-heading-location {
        width: 100%;
        background-color: var(--inactivetext-color);
        color: var(--darkblue-color);
        text-align: left;
        padding: 0.75rem;
        font-family: 'nexa-bold';
    }
    .search-location-minus {
        display: flex;
    }
    .search-location-minus  .fa-search {
        margin-right: 1rem;
    }
    .filter_list_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .headinng {
        font-size: 1.1rem;
    }
    /* -------------------Doctors grid-------------------- */
    .doctors {
        display: grid;
        grid-template-columns: 66% 33%;
        column-gap: 0.313rem;
        padding-top: 0;
        position: relative;
    }
    .doctors .title {
        margin-top: 20px;
    }
    .blue__line {
        width: 2rem;
        margin-right: 0.5rem;
    }
    .list {
        margin-left: 2.4rem;
    }
    .doctors .left_info .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1.25rem;
    }
    .img_iml1 {
        height: 17.5rem;
    }
    .appointment_button {
        bottom: 1rem;
        left: 2.4rem;
        position: absolute;
        font-size: 1rem;
    }
    .appointment_button {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .checkbox {
        margin-top: 1.25rem;
        margin-left: 0.75rem;
    }
    .checkbox li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .checkbox label {
        margin-left: 1rem;
    }
    .doctors_filters .showmore p {
        color: var(--vibblue-color);
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
    } 
    .hor_line {
        width: 100%;
        background-color: var(--gray-color);
        height: 0.063rem;
    }
}

/* --------------------Desktop view------------------- */
@media only screen and (min-device-width:1024px) {
    /* ------------------cardiac surgeon section -------------------------*/
    .cardiac_surgeons {
        padding: 6rem 5rem;
    }
    /* -----------doctors section---------- */
        .doctors .title {
            margin-top: 2.5rem;
        }
        .appointment_button {
            bottom: 2.5rem;
        }
        .img_iml1 {
            height: 340px;
            background-position: top;
        }
        .selectedfilters {
            display: block;
        }
    
}





































    