
/* ---------Cardiac surgeon---------- */
.hospitals_delhi {
    display: none;
}
.hospitals_delhi span {
    text-decoration: underline;
}
/* ------------Hospitals section------------- */
.hospital-section_heading select {
    background: var(--bordergray-color);
    padding: 0.4rem 0.625rem;
    width: 6.25rem;
}
.hospital-section_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hospital-section_heading p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.hospitals_filters {
    display: none;
}
.hospitals_filters_grid {
    margin-top: 1.875rem;;
}
/*------------------------ filter section -------------------*/
.selected_filters {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.selected_filters div {
    border: 0.063rem solid var(--bordergray-color);
    border-radius: 0.75rem;
    font-size: 0.9rem;
    padding: 0.375rem;
    width: max-content;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}
.selectedfilters {
    display: none;
}
.fa-times, .fa-search {
    color: var(--vibblue-color);
}
.fa-minus {
    color: var(--gray-color);
} 
.filter_list_heading h6 {
    margin-bottom: 0;
}
/* ------------Hospital boxes--------------- */
.hospitals {
    width: 100%;
    border: 0.063rem solid var(--bordergray-color);
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.blue__line {
    width: 1.5rem;
    height: 0.125rem;
    margin-right: 0.3rem;
    background-color: var(--doctors-color);
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.title h6 {
    color: var(--doctors-color);
    margin: 0;
}
.list {
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
}
.list li {
    margin-bottom: 0.313rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list .fa {
    color: var(--doctors-color);
    font-size: 1rem;
    margin-right: 0.625rem;
}
.call_now {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem; 
}
.specifics div {
    border: 0.063rem solid var(--gray-color);
    width: fit-content;
    padding: 0.375rem;
    border-radius: 0.938rem;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}
.specifics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem; 
}
.filter_list_heading .headinng {
    font-weight: bold;
    font-family: var(--ff-light);
}
/* ------------Tablet view--------------- */
@media only screen and (min-device-width:768px) {
    .hospitals_delhi {
        background-image: url(hospitals.jpg);
        box-shadow: inset 0 0 0 1000px rgba(154, 193, 226, 0.8);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 5rem 1.8rem;
    }
    .hospitals_delhi p {
        color: var(--darkblue-color);
        font-family: 'nexa-light';
        font-size: 1.6rem;
        text-align: left;
        font-weight: bold;
    }
    .hospitals_delhi span {
        text-decoration: underline;
        font-size: 1.6rem;
        font-family: 'nexa-bold';
    }
    /* -----------------Filter list----------------- */
    .filter-list-heading-location {
        width: 100%;
        background-color: var(--inactivetext-color);
        color: var(--darkblue-color);
        text-align: left;
        padding: 0.75rem;
        font-family: 'nexa-bold';
    }
    .search-location-minus {
        display: flex;
    }
    .filter_list_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    /* -------------------hospitals grid-------------------- */

    .hospitals {
        display: grid;
        grid-template-columns: 68% 31%;
        column-gap: 0.625rem;
        padding-top: 0;
        position: relative;
    }
    .hospitals .title {
        margin-top: 1.25rem;
    }
    .blue__line {
        width: 2.5rem;
    }
    .list {
        margin-left: 2.5rem;
    }
    .hospitals .left_info .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.875rem;
        margin-top: 1.25rem;
    }
    .img_iml1 {
        width: 100%;
        height: 20rem;
    }
    .specifics {
        margin-left: 2.5rem;
    }
    .call_now {
        bottom: 1rem;
        left: 2.5rem;
        position: absolute;
        margin-bottom: 0;
    }
    .checkbox {
        margin-top: 1.25rem;
        margin-left: 0.75rem;
    }
    .checkbox li {
        display: flex;
        align-items: center;
    }
    .checkbox label {
        margin-left: 1rem;
    }
    .hospitals_filters .showmore p {
        color: var(--vibblue-color);
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: left;
        font-size: 1rem;
    } 
    .hor_line {
        width: 100%;
        background-color: var(--gray-color);
        height: 0.063rem;
    }
}

/* -----------------Desktop view----------------- */
@media only screen and (min-device-width:1024px) {
    .hospitals_delhi {
        padding: 6rem 5rem;
    }
    /* -----------hospitals section---------- */
    .hospitals_filters {
        display: block;
    }
     /* -------------------filter section ---------------------------*/
    .hospitals_filters_grid {
        display: grid;
        grid-template-columns: 23% 75.3%;
        column-gap: 1.25rem;
    }
    .search-location-minus  .fa-search {
        margin-right: 1rem;
    }
    .headinng {
        font-size: 1.1rem;
    }
    .selectedfilters {
        display: block;
    }
}


