header nav {
    background-color: var(--white-color);
}
body {
    height: 100vh;
    background-color: var(--lightblue-color);
    position: relative;
}
/* -----------Loginpage section---------- */
.loginform {
    padding: 5rem 1.5rem;
    background-color: var(--lightblue-color);
}
.otp {
    padding: 1rem;
    background-color: var(--white-color);
}
.otp p {
    text-align: center;
}
.shadow {
    box-shadow: 0.313rem 0.125rem 0.313rem 0.125rem rgba(0,0,0,0.3);
}
.login_heading {
    background-color: var(--white-color);
    padding: 1.5rem;
    border-bottom: 0.063rem solid var(--bordergray-color);

}
.login_heading h5 {
    margin-bottom: 0;
    color: var(--darklightblue-color);
}

.fa-eye-slash, .fa-eye {
    color: var(--darklightblue-color);
    font-size: 1.5rem;
}
.fa-eye-slash:hover, .fa-eye:hover {
    font-weight: normal;
}
.fa-eye {
    display: none;
}
.forgot_otp {
    margin: 1.3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot_otp a{
    color: var(--darklightblue-color);
    font-family: var(--ff-bold);
}
.submitbutton {
    width: 100%;
    padding: 0.313rem;
    background-color: var(--darkblue-color);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.enter_otp  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    width: 70%;
    margin: 2rem auto;
}
.enter_otp  input {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--darklightblue-color);
    color: var(--darklightblue-color);
}
.counter p {
    color: var(--darklightblue-color);
    font-weight: bold;
}
.submit_button {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}
.fa-arrow-right {
    color: var(--white-color);
    font-size: 0.8rem;
    justify-self: end;
    margin-right: 1rem;
}
.foo--ter {
    padding: 1.2rem;
    position: absolute;
    bottom: 0rem;
    width: 100%;
}
.foo--ter p {
    margin-bottom: 0;
    text-align: center;
}
.foo-ter {
    font-size: 0.8rem;
    font-family: 'nexa-bold';
}
/* ------------Tablet view----------- */
@media only screen and (min-device-width:768px) {
 .loginform {
     padding: 10rem 9rem;
 }
}

/* ---------------Desktop view------------- */
@media only screen and (min-device-width:1024px) {
    .loginform {
        padding: 7.6rem 28rem;
    }
    .foo--ter p {
        font-size: 1rem;
    }
}