
/*-------------Sign up section----------------*/
.signupform {
    background-color: var(--lightblue-color);
}
.signup {
    padding: 1rem;
    background-color: var(--white-color);
}
.shadow {
    box-shadow: 5px 2px 5px 2px rgba(0,0,0,0.3);
}
.signup_heading {
    background-color: var(--white-color);
    padding: 1.5rem;
    border-bottom: 1px solid var(--bordergray-color);
}
.signup_heading h5 {
    margin-bottom: 0;
    color: var(--doctors-color);
}
.input1, .input2, .input3, .input5, .input4,.input6, .input9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px;
    border: 1px solid var(--gray-color);
    margin: 16px auto;
}
.input4 select , .input9 select{
    width: 100%;
    padding: 0 4px;
    color: var(--footer-color);
    background-color: var(--white-color);
}
.input5 input {
    color: var(--footer-color);
}
.input4, .input9 {
    padding: 11px 4px;
}
.input7, .input8  {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--gray-color);
}
.input7and8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
}
.signupbutton {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 5px;
    background-color: var(--darkblue-color);
    margin-left: auto;
    margin-right: auto;
}
.signup_button {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    font-size: 0.9rem;
}
.fa-arrow-right {
    color: var(--white-color);
    font-size: 0.9rem;
    justify-self: end;
    margin-right: 1rem;
}
.signup_footer {
    background-color: var(--white-color);
    padding: 1rem;
}
.signup_footer p{
    margin-bottom: 0;
    font-size: 0.7rem;
    color: var(--footer-color);
}
.signup_footer a {
    font-size: 0.7rem;
    color: var(--doctors-color);
    font-weight: bolder;
}
.foo--ter {
    background-color: var(--lightblue-color);
    padding: 1.2rem;
}
.foo--ter p {
    margin-bottom: 0;
}
.foo-ter {
    font-size: 0.8rem;
    font-family: 'nexa-bold';
}

/* -------------------Tablet view------------------ */
@media only screen and (min-device-width:768px) {
    .signupform {
        margin-bottom: -1px;
        padding: 8rem;
    }
}
/* -------------------Desktop view-------------- */
@media only screen and (min-device-width:1024px) {
    .signupform {
        padding: 7rem 26rem;
    }
    .signup_footer p {
        text-align: center;
    }
    .foo--ter p {
        text-align: center;
        font-size: 1rem;
    }
}