
/*-------------Header----------------*/
.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 8rem;
    height: 1.8rem;
}
.header_links, .navbar_buttons {
    display: none;
}
.fa-bars {
    color: var(--darkblue-color);
}
/*------------------Section 1-------------------------*/
.section1 {
    background-color: var(--lightblue-color);
}
.section1_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_field1, .input_field2 {
    padding: 0.2rem 0.5rem;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.7rem;
}
.search_button {
    background-color: var(--darkblue-color);
    color: var(--white-color);
}
/*------------------Section2-------------------*/
.item {
    width: 100%;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.8rem;
    border: 1px solid var(--bordergray-color);
    cursor: pointer;
}
.item-7 {
    margin-bottom: 0;
}
.item p {
    color: var(--inactivetext-color);
    font-family: 'nexa-bold';
    text-align: left;
    margin-top: 0.7rem;
    word-spacing: 0.2rem;
}
.info_image {
    /* width: 80vw; */
    margin: 0.5rem auto;
}
.active-item {
    border: 1px solid var(--darkblue-color);
}
.active-item p {
    color: var(--darkblue-color);
}
.active-item span {
    color: var(--lightblue-color);
}
.detail-block {
    display: none;
}
.active-block {
    display: block;
}
/*---------------------Section3-----------------------*/
.section3 {
    background-color: var(--darkblue-color);
}
.section3 h2 {
    color: var(--white-color);
}
.section3 p  {
    color: var(--inactivetext-color);
}
.doctor_image {
    width: 100%;
    height: 320px;
    margin-top: 20px;
}
.firstimg {
    margin-top: 0;
}
.bottom {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: var(--white-color);
}
.bottom .name {
    color: var(--darklightblue-color);
    font-family: 'nexa-bold';
    margin-left: 15px;
}
.bottom .specifications li {
    margin-left: 15px;
}
.bottom h6 {
    position: relative;
}
.bottom h6:before {
    content: "";
    width: 1.4rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.7rem;
    left: -1.55rem;
}
.blue-line {
    width: 100%;
    background-color: var(--lightblue-color);
    height: 4px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translateX(-25%); */
    transition: transform ease-in-out 0.3s;
}
#circle {
    display: none;
}
#circles {
    display: none;
}
.carousel {
    width: 13px;
    height: 13px;
    background-color: var(--bordergray-color);
    border-radius: 100%;
    cursor: pointer;
}
.carousels {
    width: 13px;
    height: 13px;
    background-color: var(--bordergray-color);
    border-radius: 100%;
    cursor: pointer;
}
.blue_circle {
    width: 17px;
    height: 17px;
    border: 2px solid var(--lightblue-color);
    background-color: var(--darkblue-color);
    border-radius: 100%;
    cursor: pointer;
}
.blue_circles {
    width: 17px;
    height: 17px;
    border: 2px solid var(--lightblue-color);
    background-color: var(--white-color);
    border-radius: 100%;
    cursor: pointer;
}
/*--------------------Section4-----------------*/
.section4 {
    background-color: var(--white-color);
}
.treatment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.treatment {
    width: 100%;
    height: 320px;
    position: relative;
    margin-bottom: 20px;
}
.img_overlay {
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
}
.treatment6 {
    margin-bottom: 0;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
}
.treatment .bottom-left .bott-om {
    font-size: 1.1rem;
    color: var(--white-color);
    font-family: 'nexa-bold';
    text-align: left;
}
.treatment .bottom-left .bot-tom li {
    font-size: 0.7rem;
    color: var(--white-color);
}
.treatment .bottom-left .bot-tom {
    margin-left: 1rem;
}
/*-------------------Section5---------------------*/
.section5 {
    background-color: var(--lightgray-color);
}
.icons {
    width: 100%;
    height: 8rem;
    background-color: var(--white-color);
    padding: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons .ic-ons {
    width: 6rem;
    height: 6rem;
}
.icons .hh {
    font-family: 'nexa-bold';
    color: var(--footer-color);
    font-size: 1rem;
}
.exclusiveservices_container {
    margin-top: 1rem;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
/*-----------------------Section6--------------------*/
.section6 {
    background-color: var(--lightblue-color);
}
.section6 .needhelp_headings h2 {
    color: var(--white-color);
}
.section6 .needhelp_headings p {
    color: var(--darkblue-color);
}
.submit_your_enquiry_button {
    display: flex;
    justify-content: center;
}
/*--------------------Footer-------------------*/
/*--------------------Footer-------------------*/
.footer {
    background-color: var(--darkblue-color);
}
.footer_logo,.footer_links,.font-awesome-icons,.footer_text, .socialmedia  {
    text-align: center;
    margin-top: 0.7rem;
}
.footer_links, .socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_links ul li:not(:last-child), .socialmedia ul li:not(:last-child){
    margin-bottom: 1rem;
}
.footer-logo_mobview {
    width: 10rem;
    height: 2rem;
    margin: 0 auto;
}
.footer-logo_tabdeskview {
    width: 10rem;
    height: 2rem;
    margin: 0 auto;
    display: none;
}
.foot-head h4{
    color: var(--white-color);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer_links a, .font-awesome-icons i, .fa-copyright , .socialmedia a{
    color: var(--gray-color);
    font-size: 1rem;
}
.footer_text p {
    color: var(--footer-color);
    font-size: 0.9rem;
    margin-bottom: 0;
}
.font-awesome-icons {
    display: none;
}
/* ---------Horizontalblue line--------- */

.footer_blueline {
    width: 100%;
    height: 8px;
    background-color: var(--vibblue-color);
    display: none;
}
/*-----------------Tablet View---------------------*/
@media only screen and (min-device-width:768px) {
    .section1_contents {
        display: grid;
        grid-template-columns: 30% 50% 20%;
        margin-top: 15px;
    }
    .input_field1 {
        margin-bottom: 0;
    }
    .input_field2 {
        margin-left: 1px;
        margin-bottom: 0;
    }
    .search_button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /*--------------SECTION2----------------*/
    .item {
        width: 100%;
        padding: 7px 0 2px 8px;
        height: 60px;
    }
    .list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
    .info_image {
        /* width: 320px;
        height: 310px; */
        margin: 30px auto;
    }
    .detail-block {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 8;
        /* justify-self: center;
        align-self: center; */
        margin: 0 auto;
    }
    /*--------------Section3---------------*/
    .doctor_image {
        margin-top: 0;
    }
    .bottom {
        height: 130px;
    }
    .container {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        justify-items: center;
        gap: 15px;
    }
    /*---------------Section4-------------*/
    .treatment {
        margin-bottom: 0;
    }
    .treatment-container {
        margin-top: 20px;
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
        justify-items: center;
        gap: 15px;
    }
    /*---------------Section5-------------*/
    .icons {
        width: 100%;
    }
    .exclusiveservices_container {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
        gap: 10px;
        justify-items: center;
    }
    /*--------------------Footer-----------------------*/
    .footer {
        background-color:  var(--white-color);
    }
    .footer_links a, .font-awesome-icons i, .footer_text p{
        color: var(--darkblue-color);
        margin: 0;
    }
    .footer-logo_mobview {
        display: none;
    }
    .footer-logo_tabdeskview {
        display: block;
    }
    .footer_links ul {
        display: flex;
    }
    .footer_links ul li:not(:last-child) {
        margin-right: 0.8rem;
    }
    .footer_container {
        display: grid;
        grid-template: 
        "links logo"
        "footer icons";
        column-gap: 20px;
    }
    .font-awesome-icons {
        display: flex;
        justify-content: space-between;
        width: 180px;
        margin: 1rem auto;
    }
    .foot-head ,.socialmedia{
        display: none;
    }
    .footer_links {
        grid-area: links;
        justify-self: start;
    }
    .footer-logo_tabdeskview {
        grid-area: logo;
        margin: 0;
        justify-self: end;
    }
    .footer_text {
        grid-area: footer;
        margin: 1rem 0;
        justify-self: start;
    }
    .font-awesome-icons {
        grid-area: icons;
        margin: 1rem 0;
        justify-self: end;
    }
    /*------------------------footer------------------------*/
    .footer_blueline {
        display: block;
    }
}
/*-------------------Desktop view---------------*/
@media only screen and (min-device-width:1024px) {
    /*-----------------Header----------------*/
    .header_links, .navbar_buttons {
        display: block;
    }
    .menu {
        display: none;
    }
    .header_links a:not(:last-child){
        margin-right: 1.875rem;
    }
    /*----------------------Section1--------------------*/
    
    .section1 {
        background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .section1content {
        width: 60%;
    }

    /*-----------Section2---------------*/
    
    .list {
        display: grid;
        grid-template-columns: 45% 55%;
        margin-top: 40px;
        column-gap: 50px;
    }
    .item {
        padding-top: 2rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
    }
    .section2 .list .item .count {
        font-size: 1.6rem;
    }
    .section2 .list .item .countt {
        margin-right: 1rem;
    }
    .detail-block-info {
        width: 70%;
        margin: 10px auto;
    }
    .detail-block-info p {
        text-align: center;
        
    }
    /*---------------Section3-----------------*/
    .container {
        margin-top: 60px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
    .bottom {
        height: 170px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .doctor_image {
        width: 100%;
        height: 340px;
    }
    #circle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80px;
        margin-top: 3rem;
    }
    #circles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80px;
        margin-top: 3rem;
    }
    /*-------------Section 4-------------------*/
    .treatment-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(10, 1fr);
        height: 90vh;
        margin-top: 70px;
    }
    .treatment {
        height: 100%;
    }
    .treatment1 {
        grid-row: 1/ span 4;
    }
    .treatment2 {
        grid-row: 1/ span 5;
    }
    .treatment3 {
        grid-row: 1/ span 4;
    }
    .treatment4 {
        grid-row: 5/ span 10;
    }
    .treatment5 {
        grid-row: 6/ span 9;
    }
    .treatment6 {
        grid-row: 5/ span 10;
    }
    #circle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80px;
    }
    /*----------------Section5-------------*/
    .icons {
        height: 13rem;
        border-radius: 5px;
    }
    .icons .hh {
        font-size: 1.2rem;
    }
    .exclusiveservices_container {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    /*---------------------------section6----------------------*/
    .section6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sub_your_en_but {
        font-size: 1rem;
        padding: 1rem 3.2rem;
        border-radius: 2px;
    }
    /*------------------------footer------------------------*/
    .footer_blueline {
        display: block;
    }
}
