
/*------------------Section 1-------------------------*/
.section1 {
    background-color: var(--lightblue-color);
}
.section1_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_field1, .input_field2 {
    padding: 0.2rem 0.5rem;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.7rem;
}
/*------------------Section2-------------------*/
.item {
    width: 100%;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.8rem;
    border: 1px solid var(--bordergray-color);
    cursor: pointer;
}
.item-7 {
    margin-bottom: 0;
}
.item p {
    color: var(--inactivetext-color);
    font-family: 'nexa-bold';
    text-align: left;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    word-spacing: 0.2rem;
}
.info_image {
    margin: 0.5rem auto;
}
.detail-block-info h6 {
    text-align: center;
}
.active-item {
    border: 1px solid var(--darkblue-color);
}
.active-item p {
    color: var(--darkblue-color);
}
.active-item span {
    color: var(--lightblue-color);
}
.detail-block {
    display: none;
}
.active-block {
    display: block;
}
/*---------------------Section3-----------------------*/
.section3 {
    background-color: var(--darkblue-color);
}
.section3 h2 {
    color: var(--white-color);
}
.section3 p  {
    color: var(--inactivetext-color);
}
.doctor_image {
    height: 20rem;
    width: 20.5rem;
    margin-top: 1.25rem;
}
.firstimg {
    margin-top: 0;
}
.bottom {
    width: 20.5rem;
    height: 7.5rem;
    padding: 0.625rem;
    background-color: var(--white-color);
}
.bottom .name {
    color: var(--doctors-color);
    margin-left: 0.938rem;
}
.bottom .specifications li {
    margin-left: 0.938rem;
}
.bottom h6 {
    position: relative;
}
.bottom h6:before {
    content: "";
    width: 1.4rem;
    height: 0.15rem;
    background: var(--doctors-color);
    position: absolute;
    top: 0.6rem;
    left: -1.55rem;
}
.blue-line {
    width: 100%;
    background-color: var(--lightblue-color);
    height: 0.25rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}
#circle, #circles {
    display: none;
}
.carousel, .carousels {
    width: 0.813rem;
    height: 0.813rem;
    background-color: var(--bordergray-color);
    border-radius: 100%;
    cursor: pointer;
}
.blue_circle {
    width: 1.063rem;
    height: 1.063rem;
    border: 0.125rem solid var(--lightblue-color);
    background-color: var(--darkblue-color);
    border-radius: 100%;
    cursor: pointer;
}
.blue_circles {
    width: 1.063rem;
    height: 1.063rem;
    border: 0.125rem solid var(--lightblue-color);
    background-color: var(--white-color);
    border-radius: 100%;
    cursor: pointer;
}
/*--------------------Section4-----------------*/
.section4 {
    background-color: var(--white-color);
}
.treatment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.treatment {
    width: 100%;
    height: 20rem;
    position: relative;
    margin-bottom: 1.25rem;
}
.img_overlay {
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
}
.treatment6 {
    margin-bottom: 0;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
}
.treatment .bottom-left .bott-om {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: 0;
}
.treatment .bottom-left .bot-tom li {
    font-size: 0.7rem;
    color: var(--white-color);
}
.treatment .bottom-left .bot-tom {
    margin-left: 1rem;
}
/*-------------------Section5---------------------*/
.section5 {
    background-color: var(--exclusiveservice-bg-color);
}
.icons {
    width: 100%;
    height: 8rem;
    background-color: var(--white-color);
    padding: auto;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons .ic-ons {
    width: 6rem;
    height: 6rem;
}
.icons .hh {
    font-family: 'nexa-bold';
    color: var(--footer-color);
    font-size: 0.9rem;
}
.exclusiveservices_container {
    margin-top: 1rem;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
/*-----------------Tablet View---------------------*/
@media only screen and (min-device-width:768px) {
    .section1_contents {
        display: grid;
        grid-template-columns: 30% 50% 20%;
        margin-top: 0.938rem;
    }
    .input_field1 {
        margin-bottom: 0;
    }
    .input_field2 {
        margin-left: 0.063rem;
        margin-bottom: 0;
    }
    .search_button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    /*--------------SECTION2----------------*/
    .item {
        width: 100%;
        padding: 0.438rem 0 0.125rem 0.5rem;
        height: 3.75rem;
    }
    .list {
        margin-top: 1.25rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.875rem;
    }
    .info_image {
        margin: 1.875rem auto;
    }
    .detail-block {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 8;
        margin: 0 auto;
    }
    /*--------------Section3---------------*/
    .doctor_image {
        margin: 0 auto;
        width: 100%;
        height: 20.625rem;
    }
    .bottom {
        height: 8.125rem;
        width: 100%;
    }
    .container {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        justify-items: center;
        gap: 0.938rem;
        margin-top: 1.25rem;
    }
    /*---------------Section4-------------*/
    .treatment {
        margin-bottom: 0;
    }
    .treatment-container {
        margin-top: 1.25rem;
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
        justify-items: center;
        gap: 0.938rem;
    }
    /*---------------Section5-------------*/
    .icons {
        width: 100%;
    }
    .exclusiveservices_container {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
        gap: 0.625rem;
        justify-items: center;
    }
    
}
/*-------------------Desktop view---------------*/
@media only screen and (min-device-width:1024px) {
    /*-----------------Header----------------*/
    
    /*----------------------Section1--------------------*/
    
    .section1 {
        background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .section1content {
        width: 60%;
    }
    .search_button {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    /*-----------Section2---------------*/
    
    .list {
        display: grid;
        margin-top: 2.5rem;
        column-gap: 3.125rem;
    }
    .item {
        padding-top: 2rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
    }
    .section2 .list .item .count {
        font-size: 1.6rem;
    }
    .section2 .list .item .countt {
        margin-right: 1rem;
    }
    .detail-block-info {
        width: 70%;
        margin: 0.625rem auto;
    }
    .detail-block-info p {
        text-align: center;
        
    }
    /*---------------Section3-----------------*/
    .container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
    .bottom {
        height: 10.625rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .doctor_image {
        width: 100%;
        height: 21.25rem;
    }
    #circle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 5rem;
        margin-top: 3rem;
    }
    #circles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 5rem;
        margin-top: 3rem;
    }
    /*-------------Section 4-------------------*/
    .treatment-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(10, 1fr);
        height: 90vh;
        margin-top: 4.375rem;
    }
    .treatment {
        height: 100%;
    }
    .treatment1 {
        grid-row: 1/ span 4;
    }
    .treatment2 {
        grid-row: 1/ span 5;
    }
    .treatment3 {
        grid-row: 1/ span 4;
    }
    .treatment4 {
        grid-row: 5/ span 10;
    }
    .treatment5 {
        grid-row: 6/ span 9;
    }
    .treatment6 {
        grid-row: 5/ span 10;
    }
    #circle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 5rem;
    }
    /*----------------Section5-------------*/
    .icons {
        height: 13rem;
        border-radius: 0.313rem;
    }
    .icons .hh {
        font-size: 1.2rem;
    }
    .exclusiveservices_container {
        display: flex;
        flex-direction: row;
        margin-top: 2.5rem;
    }
}
