/*-------------Submit query section----------------*/
.submit_query_form {
    background-color: var(--lightblue-color);
}
.submit_query {
    padding: 1rem;
    background-color: var(--white-color);
}
.shadow {
    box-shadow: 5px 2px 5px 2px rgba(0,0,0,0.3);
}
.query_heading {
    background-color: var(--white-color);
    padding: 1.5rem;
    border-bottom: 1px solid var(--bordergray-color);
}
.query_heading h5 {
    margin-bottom: 0;
    color: var(--doctors-color);
}
.input1, .input2, .input3, .input4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4px;
    border: 1px solid var(--gray-color);
    margin: 16px auto;
}
.query {
    height: 200px;
}
.submit_querybutton {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 7px;
    background-color: var(--darkblue-color);
    margin-left: auto;
    margin-right: auto;
}
.submit_your_query_button {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    font-size: 0.9rem;
}
.fa-arrow-right {
    color: var(--white-color);
    font-size: 0.9rem;
    justify-self: end;
    margin-right: 1rem;
}
.foo--ter {
    background-color: var(--lightblue-color);
    padding: 1.2rem;
}
.foo--ter p {
    margin-bottom: 0;
}
.foo-ter {
    font-size: 0.8rem;
    font-family: 'nexa-bold';
}
/* -------------------Tablet view------------------ */
@media only screen and (min-device-width:768px) {
    .submit_query_form {
        padding: 4rem 10rem;
    }
    .foo--ter p {
        text-align: center;
        font-size: 1rem;
    }
}
/* ------------Desktop view--------------- */
@media only screen and (min-device-width:1024px) {
    .submit_query_form {
        padding: 4rem 20rem;
    }
}