
/* ----------------Treatment background image---------------- */
.backg_img {
    background-image: linear-gradient(to right, rgb(43, 132, 192),rgba(62, 112, 145,0)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.backg_img h1, .backg_img p {
    color: var(--white-color);
}
/* ----------------Treatment section----------------- */
.dentistry {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
}
/* -------------Vaccination section------------- */
    .vaccination {
        margin-bottom: 1rem;
        height: 100%;
    }
    /* -----------Dentistry department----------- */
    .circle {
        width: 0.313rem;
        height: 0.313rem;
        border-radius: 100%;
        margin-right: 0.5rem;
        background-color: var(--vibblue-color);
    }
    .den_dep li {
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
    }
    .dentistry_department h6 {
        text-align: left;
    }
    .dentistry_department p {
        text-align: left;
    }
/* ------------Types section----------- */
.type i {
    color: var(--darkblue-color);
    font-size: 2rem;
    width: 5rem;
    padding: 1.563rem;
    height: 5rem;
    border-radius: 100%;
    background-color: var(--treatment-color);
    margin-bottom: 1.25rem;
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type h6 {
    text-align: center;
}
/* ------------Service details------------ */
.service_details {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.625rem;
}
.service, .schedule {
    border: 0.094rem solid var(--bordergray-color);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.service h6, .schedule h6 {
    position: relative;
    text-align: left;
}
.service h6:before, .schedule h6:before {
    content: "";
    width: 1.3rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.6rem;
    left: -1.5rem;
}
.service .ser_detail, .schedule .sch_detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.063rem solid var(--bordergray-color);
}
.ser_detail .span, .sch_detail .span {
    color: var(--footer-color);
}
.ser_detail p, .sch_detail p {
    margin-bottom: 0;
    margin-top: 0.8rem;
}
/* -------------More services--------------- */
.more_services {
    background-color: var(--lightblue-color);
    overflow: initial;
}
.more_services h2 {
    color: var(--white-color);
}
.leftarrow, .rightarrow {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    padding: 0.625rem 0.5rem 0.625rem 0.75rem;
    background-color: var(--white-color);
    cursor: pointer;
}
.leftarrow {
    margin-right: 0.5rem;
}
.rightarrow {
    margin-left: 0.5rem;
}
.leftarrow i, .rightarrow i {
    color: var(--darkblue-color);
    font-size: 0.7rem;
}
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_type {
    border-radius: 0.938rem;
    box-shadow: 0.313rem 0.125rem 0.313rem 0.125rem rgba(0,0,0,0.3);
}
.service_type img {
    border-radius: 0.938rem 0.938rem 0 0;
}
.service_foot {
    background-color: var(--white-color);
    padding: 1.25rem 0px 1.25rem 1.25rem;
    margin-top: -0.188rem;
    border-radius: 0 0 0.938rem 0.938rem;
}
.service_foot h6 {
    margin-bottom: 0;
    text-align: left;
    position: relative;
}
.service_foot h6:before {
    content: "";
    width: 1.1rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.6rem;
    left: -1.2rem;
}
.more_services_types .slidee, .more_services_types .slidee--hidden {
    display: none;
}
.more_services_types .slidee--visible {
    margin-top: 1.875rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 0.938rem;
}
/* ---------------Tablet view------------------- */
@media only screen and (min-device-width:768px) {
    .backg_img {
        background-position: top;
    }
    .img_info {
        display: grid;
        grid-template-columns: 35% 60%;
        column-gap: 1.875rem;
    }
    .vaccination h3 {
        text-align: left;
    }
    .types {
        display: grid;
        grid-template-columns: 34% 30% 30%;
        column-gap: 1.25rem;
    }
    .type p {
        text-align: center;
    }
    .service_type img {
        border-radius: 0.6rem 0.6rem 0 0;
        height: 11.25rem;
    }
    .service_foot {
        border-radius: 0 0 0.6rem 0.6rem;
        padding: 1.6rem 0 1.6rem 1rem;
    } 
    .service_details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.25rem;
        row-gap: 0;
    }
    .schedule, .service {
        height: fit-content;
    }
    .service_foot h6:before {
        content: "";
        width: 0.8rem;
        height: 0.15rem;
        background: var(--darklightblue-color);
        position: absolute;
        top: 0.6rem;
        left: -0.9rem;
    }
    /* -------------------More services------------------- */
    .services_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .more_services_types .slidee--visible {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0.5rem;
        margin-bottom: 0;
        row-gap: 0;
    }
    
}
@media only screen and (min-device-width:1024px) {
    .backg_img {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    /* ---------Treatment section---------- */
    .dentistry {
        display: grid;
        grid-template-columns: 67% 30.5%;
        grid-template-rows: auto auto;
        column-gap: 1.875rem;
        width: 100%;
    }
    .backg_img h3  {
        text-align: left;
    }
    .service_details {
        grid-area: 1 /2 /span 2/ span 1;
    }
    .service_type img {
        height: auto;
    }
    .service_foot h6:before {
        content: "";
        width: 1.7rem;
        height: 0.15rem;
        background: var(--darklightblue-color);
        position: absolute;
        top: 0.6rem;
        left: -1.9rem;
    }
    .service_foot {
        padding: 2rem 0 2rem 2rem;
        margin-top: -0.313rem;
    }
    .types {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .service_type {
        width: 27.688rem;
    }
    .service_details {
        display: flex;
        flex-direction: column;
    }
}