
/* ----------------Treatment background image---------------- */
.backg_img {
    background-image: linear-gradient(to right, rgb(43, 132, 192),rgba(62, 112, 145,0)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.backg_img h1, .backg_img p {
    color: var(--white-color);
}
/* ----------------Treatment section----------------- */
.dentistry {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}
/* -------------Vaccination section------------- */
    .vaccination {
        margin-bottom: 1rem;
        height: 100%;
    }
    /* -----------Dentistry department----------- */
    .circle {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        margin-right: 1rem;
        background-color: var(--vibblue-color);
    }
    .den_dep li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .dentistry_department h6 {
        text-align: left;
    }
    .dentistry_department p {
        text-align: left;
    }
/* ------------Types section----------- */
.type i {
    color: var(--darkblue-color);
    font-size: 2rem;
    width: 80px;
    padding: 25px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--treatment-color);
    margin-bottom: 20px;
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type h6 {
    text-align: center;
}
/* ------------Service details------------ */
.service_details {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}
.service, .schedule {
    border: 1.5px solid var(--bordergray-color);
    width: 100%;
    border-radius: 8px;
    padding: 20px;
}
.service h6 {
    position: relative;
    text-align: left;
}
.service h6:before {
    content: "";
    width: 1.1rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.6rem;
    left: -1.2rem;
}
.schedule h6 {
    position: relative;
    text-align: left;
}
.schedule h6:before {
    content: "";
    width: 1.1rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.6rem;
    left: -1.2rem;
}
.service .ser_detail, .schedule .sch_detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--bordergray-color);
}
.ser_detail .span, .sch_detail .span {
    color: var(--footer-color);
}
.ser_detail p, .sch_detail p {
    margin-bottom: 0;
    margin-top: 0.8rem;
}
/* -------------More services--------------- */
.more_services {
    background-color: var(--lightblue-color);
    overflow: initial;
}
.more_services h2 {
    color: var(--white-color);
}
.leftarrow, .rightarrow {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 10px 8px 10px 12px;
    background-color: var(--white-color);
    cursor: pointer;
}
.leftarrow {
    margin-right: 1rem;
}
.leftarrow i, .rightarrow i {
    color: var(--darkblue-color);
    font-size: 0.7rem;
}
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_type {
    border-radius: 15px;
    box-shadow: 5px 2px 5px 2px rgba(0,0,0,0.3);
}
.service_type img {
    border-radius: 15px 15px 0 0;
}
.service_foot {
    background-color: var(--white-color);
    padding: 20px 0px 20px 20px;
    margin-top: -3px;
    border-radius: 0 0 15px 15px;
}
.service_foot h6 {
    margin-bottom: 0;
    text-align: left;
    position: relative;
}
.service_foot h6:before {
    content: "";
    width: 1.1rem;
    height: 0.15rem;
    background: var(--darklightblue-color);
    position: absolute;
    top: 0.6rem;
    left: -1.2rem;
}
.more_services_types .slidee, .more_services_types .slidee--hidden {
    display: none;
}
.more_services_types .slidee--visible {
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}
/* ---------------Tablet view------------------- */
@media only screen and (min-device-width:768px) {
    .img_info {
        display: grid;
        grid-template-columns: 35% 60%;
        column-gap: 30px;
    }
    .vaccination h3 {
        text-align: left;
    }
    .types {
        display: grid;
        grid-template-columns: 35% 30% 30%;
        column-gap: 20px;
    }
    .type p {
        text-align: center;
    }
    .service_details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 0;
    }
    .schedule, .service {
        height: fit-content;
    }
    /* -------------------More services------------------- */
    .services_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .more_services_types .slidee--visible {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }
    
}
@media only screen and (min-device-width:1024px) {
    /* ---------Treatment section---------- */
    .dentistry {
        display: grid;
        grid-template-columns: 67% 30.5%;
        grid-template-rows: auto auto;
        column-gap: 30px;
        width: 100%;
    }
    .backg_img h3  {
        text-align: left;
    }
    .service_details {
        grid-area: 1 /2 /span 2/ span 1;
        
    }
    .types {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .service_type {
        width: 443px;
    }
    .service_details {
        display: flex;
        flex-direction: column;
    }
}